@mixin grid_1320_4_15_15() { 
	/*
	1320px grid system ~ Core CSS.
	4 Columns ~ Margin left: 15px ~ Margin right: 15px

	Based on the 960.gs grid system - http://960.gs/
	by Nathan Smith

	Created by the Grid System Generator - v1.04
	Learn more ~ http://www.gridsystemgenerator.com/
	*/

	/*
	Forces backgrounds to span full width,
	even if there is horizontal scrolling.
	Increase this if your layout is wider.

	Note: IE6 works fine without this fix.
	*/
	body {
		min-width: 960px;
	}

	/* =Containers
	--------------------------------------------------------------------------------*/
	.container
	{
		margin-left: auto;
		margin-right: auto;
		width: 1320px;
	}

	/* =Grid >> Global
	--------------------------------------------------------------------------------*/
	.grid_1,.col-1,.col-2,.col-3,.col-4,.col-sm,.col-xmd,.col-md,.col-lg,
	.grid_2,
	.grid_3,
	.grid_4 {
		//display: inline;
		//float: left;
		margin-left: 15px;
		margin-right: 15px;
	}

	.push_1, .pull_1,
	.push_2, .pull_2,
	.push_3, .pull_3 {
		position: relative;
	}

	/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
	--------------------------------------------------------------------------------*/
	.alpha {margin-left: 0;}
	.omega {margin-right: 0;}

	/* =Grid >> 4 Columns
	--------------------------------------------------------------------------------*/
	.container .grid_1, .col-sm,  .col-1{width: 300px;}
	.container .grid_2, .col-xmd, .col-2{width: 630px;}
	.container .grid_3, .col-md,  .col-3{width: 960px;}
	.container .grid_4, .col-lg,  .col-4{width: 1290px;}

	/* =Prefix Extra Space >> 4 Columns
	--------------------------------------------------------------------------------*/
	.container .prefix_1 {padding-left: 330px;}
	.container .prefix_2 {padding-left: 660px;}
	.container .prefix_3 {padding-left: 990px;}

	/* =Suffix Extra Space >> 4 Columns
	--------------------------------------------------------------------------------*/
	.container .suffix_1 {padding-right: 330px;}
	.container .suffix_2 {padding-right: 660px;}
	.container .suffix_3 {padding-right: 990px;}

	/* `Push Space >> 4 Columns
	--------------------------------------------------------------------------------*/
	.container .push_1 {left: 330px;}
	.container .push_2 {left: 660px;}
	.container .push_3 {left: 990px;}

	/* `Pull Space >> 4 Columns
	--------------------------------------------------------------------------------*/
	.container .pull_1 {left: -330px;}
	.container .pull_2 {left: -660px;}
	.container .pull_3 {left: -990px;}

	/* `Clear Floated Elements
	----------------------------------------------------------------------------------------------------*/
	/* http://sonspring.com/journal/clearing-floats */
	.clear {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
	.clearfix:before,
	.clearfix:after {
		content: "\0020";
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.clearfix:after {
		clear: both;
	}
	/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
	*/
	.clearfix {
		zoom: 1;
	}
}
