.dividers {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #1c2528;}

.line500{
	width: 500px;
}

.triangle {
    border-left: 25px solid #f7f7f7;
    border-bottom: 25px solid white;
    border-right: 25px solid #f7f7f7;
    display: inline-block;
}

.ghkla{
	border: 1px solid #bed5d4;
}

.fdllk{
	border-bottom: 1px solid #bed5d4;
}

.jgklsla{
	border-bottom: 1px solid #bed5d4;
}

.jgklslc{
	width: 860px;
	border-bottom: 1px solid #bed5d4;
}

.hrcsjk{
	border-top: 1px solid #bed5d4;
	min-height: 1px;
	width: 100%;
}

.fu62ul{
	border-bottom: 1px solid #bed5d4;

	&:hover{
		border-bottom: 0;
	}
}