input[type="submit"]{
  border: 0;
  padding: 0;
  color: #1c2528;
  outline: medium none;
  &.submit-sm{
	@include font-size(14px);
	width: 80px;
	height: 25px;
	font-weight: $regular;
	color: #1c2528;
	line-height:24px;
	font-family: "NotoSansCJKtc Regular";
	text-align: center;
  }

  &.submit-4-n2{
	color: #ffffff;
  }



}

.btn{
	cursor: pointer;
	font-family: "NotoSansCJKtc Normal";
}

.btn-sm{
	width: 80px;
	height: 20px;
}

.btn-default{
	border: 1px solid #bed5d4;
}

.btn-primary{
	background-color: #bed5d4;
}

.btn-sosial{
	background-color: #bed5d4;
}

.at-top-corner{
	position: absolute;
	right: 0px;
	z-index: $zindex-switch;
}

.btn-loadmore{
	
}

.btn-openmap{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -57px;
	height: 38px;
	box-shadow: 0px 0px 10px #ebebeb;
	background-color: #81cec6;
}

.btn-readMore{
	width: 299px;
	height: 299px;
	display: inline-block;
    letter-spacing: normal;
    overflow: hidden;
    vertical-align: top;
    word-spacing: normal;
	margin-left: 15px;

	border: 1px solid #bed4d4;

	div{
		margin-top: 9px;
		margin-left: 9px;
		position: relative;
		width: 281px;
		height: 281px;
		background-color: #bed4d4;

		p{
			line-height: 280px;
			text-align: center;
		}
	}

	&:hover{
		border: 1px solid #e5ebeb;

		div{
			background-color: #e5ebeb;
		}
	}
}

.btn-openCityList{
	box-shadow: 0px 0px 10px #ebebeb;
	background-color: #81cec6;
    padding: 0 10px 0 10px;
    margin-right: 20px;
	height: 38px;
    
    &:hover{
		background-color: #bed5d4;
	}

	&.ford2{
		margin-top: -57px;
		margin-right: 170px;
	}
}

.btn-showWhollMap{
	box-shadow: 0px 0px 10px #ebebeb;
	background-color: #81cec6;
    padding: 0 10px 0 10px;
    margin-right: 120px;
	height: 38px;
    opacity: 0;

	@extend %transition-opacity;

	&:hover{
		background-color: #bed5d4;
	}

	&.active{
		cursor: pointer;
		opacity: 1;
	}

	&.ford2{
		margin-top: -57px;
		margin-right: 170px;
	}
}

.btn-switch{
	padding-left: 10px;
	padding-right: 10px;
	height: 38px;
	background-color: #696865;
}

.btn-close{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 14px;
	margin-right: 14px;
}



.closebox{
	float: right;
	margin-top: 14px;
	margin-right: 14px;

}


.before-arrow{
	&:before {
		position: absolute;
		color: #ffffff;
	    content: "\25BC";
	    font-size: 16px;
	    top: 7px;

	    //@include transition-property(all);
		//@include transition-duration(0.3s);
	}

    &.active:before{
	  /*
    	-moz-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          */
          top: 8px;
    	content: "\25B2";
    }
}


.backToWholeMap{
	box-shadow: 0px 0px 10px #ebebeb;
	background-color: #81cec6;
    cursor: default;
    float: right;
    margin-right: 15px;
    padding: 10px;
    position: relative;
    opacity: 0;

	@extend %transition-opacity;

	&:hover{
		background-color: #bed5d4;
	}

	&.active{
		cursor: pointer;
		opacity: 1;
	}

	&.ford2{
		position: absolute;
		padding: 0 10px 0 10px;
		margin-right: 0;
		top: 2px;
		right: 170px;
		height: 38px;
		width: auto;
		z-index: 99;
		
		p{
			line-height: 38px;
			text-align: center;
		}
	}
}

.leftButtom{
	background-color: #e5ebeb;
	-moz-boder-radius: 4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display: inline-block;
	cursor: pointer;
	color: #4a4a4a;
	font-family: "NotoSansCJKtc Normal";
	font-size: 16px;
	padding: 14px 36px 12px 36px;
	text-decoration: none;
	text-align: center;

	&:hover{
		background-color:#e1e6e6;
	}

	&.disabled{
		cursor: not-allowed;
		background-color: #e5ebeb;
		color: #e5ebeb;
	}

	&.disabled:hover{
		background-color: #e5ebeb;
		color: #e5ebeb;
	}
}

.rightButtom{
	background-color: #ff4c2c;
	-moz-boder-radius: 4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: "NotoSansCJKtc Normal";
	font-size: 16px;
	padding: 14px 36px 12px 36px;
	text-decoration: none;
	text-align: center;

	&:hover{
		background-color:#f2462c;
	}

	&.disabled{
		cursor: not-allowed;
		background-color: #fafcfc;
		color: #e5ebeb;
	}

	&.disabled:hover{
		background-color: #fafcfc;
		color: #e5ebeb;
	}
}


.btn-singup{
	padding: 0;
	width: 120px;
	height: 35px;
	line-height: 35px;
}

 .btn-start{
 	padding: 0;
 	width: 175px;
	height: 40px;
	line-height: 40px;
 }


.btn-advancd-modify{
	padding: 0;
 	width: 100px;
	height: 30px;
	line-height: 30px;
}

.btn-cancel-modify{
	padding: 0;
 	width: 80px;
	height: 30px;
	line-height: 30px;
}

.saveBtn {
	background-color:#81cec5;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "NotoSansCJKtc Normal";
	font-size:14px;
	padding:3px 10px;
	text-decoration:none;
}
.saveBtn:hover {
	background-color:#75bbb3;
}
.saveBtn:active {
	position:relative;
	top:1px;
}

.btn-register{
	position: relative;
	display: block;
	padding: 0;
 	width: 350px;
	height: 40px;
	line-height: 40px;

	a{
		display: block;
		width: 100%;
		height: 100%;
	}
}
