// = margin padding
//
// ----------------------------------------------------------------------

.center{margin-left: auto; margin-right: auto }

.mgt19  { margin-top:19px;    }
.mgt90  { margin-top:90px;    }
.mgt159 { margin-top:159px;   }
.mgt209 { margin-top:209px;   }
.mgb29  { margin-bottom:29px; }

.mgl19  { margin-left:19px;    }
.mgl48  { margin-left:48px;    }

.mgt3  {margin-top: 3px; }
.mgt5  {margin-top: 5px; }
.mgt10 {margin-top: 10px;}
.mgt15 {margin-top: 15px;}
.mgt17 {margin-top: 17px;}
.mgt20 {margin-top: 20px;}
.mgt25 {margin-top: 25px;}
.mgt26 {margin-top: 26px;}
.mgt30 {margin-top: 30px;}
.mgt35 {margin-top: 35px;}
.mgt40 {margin-top: 40px;}
.mgt45 {margin-top: 45px;}
.mgt50 {margin-top: 50px;}
.mgt55 {margin-top: 55px;}
.mgt60 {margin-top: 60px;}
.mgt75 {margin-top: 75px;}
.mgt90 {margin-top: 90px;}
.mgt99 {margin-top: 99px;}
.mgt100 {margin-top: 100px;}
.mgt120 {margin-top: 120px;}
.mgt160 {margin-top: 160px;}

.mgb5  {margin-bottom: 5px; }
.mgb10 {margin-bottom: 10px;}
.mgb15 {margin-bottom: 15px;}
.mgb20 {margin-bottom: 20px;}
.mgb25 {margin-bottom: 25px;}
.mgb30 {margin-bottom: 30px;}
.mgb35 {margin-bottom: 35px;}
.mgb40 {margin-bottom: 40px;}
.mgb45 {margin-bottom: 45px;}
.mgb50 {margin-bottom: 50px;}
.mgb55 {margin-bottom: 55px;}
.mgb60 {margin-bottom: 60px;}


.mgl3  {margin-left: 3px; }
.mgl5  {margin-left: 5px; }
.mgl7  {margin-left: 7px; }
.mgl10 {margin-left: 10px;}
.mgl15 {margin-left: 15px;}
.mgl20 {margin-left: 20px;}
.mgl25 {margin-left: 25px;}
.mgl30 {margin-left: 30px;}
.mgl35 {margin-left: 35px;}
.mgl40 {margin-left: 40px;}
.mgl45 {margin-left: 45px;}
.mgl50 {margin-left: 50px;}
.mgl55 {margin-left: 55px;}
.mgl60 {margin-left: 60px;}
.mgl65 {margin-left: 65px;}
.mgl70 {margin-left: 70px;}
.mgl75 {margin-left: 75px;}
.mgl80 {margin-left: 80px;}
.mgl85 {margin-left: 85px;}
.mgl90 {margin-left: 90px;}
.mgl95 {margin-left: 95px;}
.mgl100 { margin-left: 100px; }

.mgr5  {margin-right: 5px; }
.mgr10 {margin-right: 10px;}
.mgr15 {margin-right: 15px;}
.mgr20 {margin-right: 20px;}
.mgr25 {margin-right: 25px;}
.mgr30 {margin-right: 30px;}
.mgr35 {margin-right: 35px;}
.mgr40 {margin-right: 40px;}
.mgr45 {margin-right: 45px;}
.mgr50 {margin-right: 50px;}
.mgr55 {margin-right: 55px;}
.mgr60 {margin-right: 60px;}

.pdt3  {padding-top: 3px; }
.pdt5  {padding-top: 5px; }
.pdt10 {padding-top: 10px;}
.pdt15 {padding-top: 15px;}
.pdt20 {padding-top: 20px;}
.pdt25 {padding-top: 25px;}
.pdt30 {padding-top: 30px;}
.pdt35 {padding-top: 35px;}
.pdt40 {padding-top: 40px;}
.pdt45 {padding-top: 45px;}
.pdt50 {padding-top: 50px;}
.pdt55 {padding-top: 55px;}
.pdt60 {padding-top: 60px;}
.pdt100 {padding-top: 100px;}

.pdb0  {padding-bottom: 0; }
.pdb5  {padding-bottom: 5px; }
.pdb10 {padding-bottom: 10px;}
.pdb13 {padding-bottom: 13px;}
.pdb15 {padding-bottom: 15px;}
.pdb20 {padding-bottom: 20px;}
.pdb25 {padding-bottom: 25px;}
.pdb30 {padding-bottom: 30px;}
.pdb35 {padding-bottom: 35px;}
.pdb40 {padding-bottom: 40px;}
.pdb45 {padding-bottom: 45px;}
.pdb50 {padding-bottom: 50px;}
.pdb55 {padding-bottom: 55px;}
.pdb60 {padding-bottom: 60px;}
.pdb75 {padding-bottom: 75px;}


.pdl2  {padding-left: 2px; }
.pdl5  {padding-left: 5px; }
.pdl10 {padding-left: 10px;}
.pdl15 {padding-left: 15px;}
.pdl20 {padding-left: 20px;}
.pdl25 {padding-left: 25px;}
.pdl30 {padding-left: 30px;}
.pdl35 {padding-left: 35px;}
.pdl40 {padding-left: 40px;}
.pdl45 {padding-left: 45px;}
.pdl50 {padding-left: 50px;}
.pdl55 {padding-left: 55px;}
.pdl60 {padding-left: 60px;}

.pdr2  {padding-right: 2px; }
.pdr5  {padding-right: 5px; }
.pdr10 {padding-right: 10px;}
.pdr15 {padding-right: 15px;}
.pdr20 {padding-right: 20px;}
.pdr25 {padding-right: 25px;}
.pdr30 {padding-right: 30px;}
.pdr35 {padding-right: 35px;}
.pdr40 {padding-right: 40px;}
.pdr45 {padding-right: 45px;}
.pdr50 {padding-right: 50px;}
.pdr55 {padding-right: 55px;}
.pdr60 {padding-right: 60px;}

.t120{ top: 120px; }


// = dipslay float
//=============================================
.dib {display:inline-block};
.fll {float: left;}
.flr {float: right;}

