.carousel {
    position: relative;
    margin-bottom: 30px;
}

.carousel, .carousel-inner > .item {

    @media only screen and (max-width:989px){
        min-height: 594px;
        max-height: 594px;
    }

    @media only screen and (min-width:990px) and (max-width: 1319px){
        min-height: 594px;
         max-height: 594px;
    }

    @media only screen and (min-width:1320px) {
        min-height: 800px;
         max-height: 800px;
    }
}

/*
.carousel-inner, {
	overflow: hidden;
    position: relative;
    width: 600%;
    height: 600%;
}*/

.carousel-inner, .carousel-inner-touch{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-inner > .item {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
//float: left;
    display: none;

    //transition: left 0.6s ease-in-out 0s;
    //@include transition-property(left);
    //@include transition-duration(0.5s);
    //@include transition-timing-function(ease-in-out);
    //@include transition-delay(0s);
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
}

.carousel-inner > .item  img {
	height: auto;
    left: 0;
    width: 100%;
    min-width: 990px;
    position: absolute;
    top: 50%;
    @include transform(translate(0, -50%));
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}



.carousel-left , .carousel-right{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -29px;
}

.carousel-caption{
	position: absolute;
	bottom: 25px;
}

.carousel-left{
	left: 15px;
}
	
.carousel-right{
	right: 15px
}
