.lightbox, .lightbox-header, .lightbox-body{
	position: relative;
	width: 100%;
}

.lightbox{
	position: relative;
	overflow: hidden;
	padding-bottom: 60px;
	background-color: rgba(#000000, 0.9);
}

.lightbox-header{
	height: 60px;
}

.lightbox-wraper{
	position: relative;
	overflow: hidden;
	margin-left: 90px;
	margin-right: 90px;

	@media only screen and (max-width:989px){
		width: 810px;
	}

	@media only screen and (min-width:990px) and (max-width: 1319px){
		width: 810px;
	}

	@media only screen and (min-width:1320px) {
		width: 1140px;
	}
}

.lightbox-report,.lightbox-full,.lightbox-close{
	cursor: pointer;
}

.lightbox-report,.lightbox-pictitle,.lightbox-open-up{
	float: left;
}


.lightbox-report{
	margin-top: 26px;
	margin-left: 90px;
}


.lightbox-close{
	position: relative;
	display: none;
    float: right;
	margin-top: 22px;
	margin-right: 90px;
}

.lightbox-full{
	margin-top: -1px;
	margin-right: 60px;
}

.lightbox-footer{
	position: absolute;
	background-color: rgba(#000000, 0.5);
	width: 100%;
	height: 238px;
}

.lightbox-info,.lightbox-playlist{
	position: relative;
}

.lightbox-info {
	cursor: pointer;
	height: 60px;
}

.lightbox-playlist{
	height: 140px;
}

.lightbox-open-up{
	margin-top: 23px;
	margin-left: 15px;
}

.lightbox-pictitle{

	margin-top: 20px;
	margin-left: 6px;

	p,em{
		float: left;
	}

	em{
		text-decoration: underline;
	}
}

.lightbox-btn-left {
	cursor: pointer;
	float: left;
	margin-left: 15px;
	width: 20px;
	height: 140px;


	.icons-btn-arrow-left{
		float: left;
		margin-top: 56px;
	}
}

.lightbox-btn-right{
	cursor: pointer;
	float: right;
	margin-right: 15px;
	width: 20px;
	height: 140px;


	.icons-btn-arrow-right{
		float: right;
		margin-top: 56px;
	}
}

.lightbox-playbody{
	overflow: hidden;
	float: left;
	height: 140px;
	margin-left: 5px;
	@media only screen and (max-width:989px){
		width: 900px;
	}

	@media only screen and (min-width:990px) and (max-width: 1319px){
		width: 900px;
	}

	@media only screen and (min-width:1320px) {
		width: 1230px;
	}
}

.report-box{
	position: absolute;
	top: 0;
	left: 90px;
	padding: 30px 0 30px 30px;
	width: 225px;
	background-color: #ffffff;
}

.report-item{
	cursor: pointer;
	margin-bottom: 15px;

	input[type='text']{
		margin-left: 10px;
		width: 90px;
		border: 0;
		border-bottom: 1px solid #696865;
	}
}


.report-box-radio{
	margin-right: 10px;
}

.report-box-radio, .report-item p{
	display: inline-block;
}

.report-box-confirm{
	float: left;
	margin-top: 15px;
	margin-right:15px;
	width: 75px;
	height: 20px;
    background-color: #bed5d4;
}

.report-box-cancel{
	float: left;
	margin-top: 15px;
	width: 75px;
	height: 20px;
    background-color: #e5ebeb;
}

.report-response-box{
	position: absolute;
	top: 0;
	left: 90px;
	padding: 100px 30px 100px 30px;
	background-color: white;
}

.dr{
	position: relative;
	width: 810px;
	height: 580px;
	padding-left: 90px;

	@media only screen and (max-width:989px){
       width: 810px;
       height: 570px;
    }

    @media only screen and (min-width:990px) and (max-width: 1319px){
        width: 810px;
        height: 570px;
    }

    @media only screen and (min-width:1320px) {
        width: 1140px;
        height: 759px;
    }
}

.dr-pic{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 540px;

	@media only screen and (max-width:989px){
       height: 540px;
    }

    @media only screen and (min-width:990px) and (max-width: 1319px){
       height: 540px;
    }

    @media only screen and (min-width:1320px) {
        height: 725px;
    }

    img{
	    position: absolute;
    	left: 50%;
    	top:50%;
    	@include transform(translate(-50%, -50%));
	    max-height: 100%;
	    max-width: 100%;
    }

    .fit-width{
    	width: 100%;
    	height: auto;
    }

    .fit-height{
    	width: auto;
    	height: 100%;
    }
}

.fullscreem{
  	width:100%;
    height: 100%;
  	padding: 0 10px 5px;
    background: #000000;
  	img{
		max-width: 80%;
	  	max-height: 80%;
	}

    .lightbox-close{
	   display: block;
	}

}



.dr-footer{
	position: absolute;
	width: 810px;
	height: 200px;
	background-color: rgba(#f7f7f7,0.8);

	@media only screen and (max-width:989px){
       width: 810px;
    }

    @media only screen and (min-width:990px) and (max-width: 1319px){
        width: 810px;
    }

    @media only screen and (min-width:1320px) {
        width: 1140px;
    }


	@include transition-property(margin-top);
	@include transition-duration(0.6s);

	&.active{
		margin-top: -200px;

	}

	img {
		width: auto;
		height: 140px;
	}
}


.dr-desc{
	.dr-title, .dr-like{
		position: position;
		float: left;
	}

	.dr-title{
		margin-right: 60px;
	}

	.dr-like{
		margin-top: 8px;
		@include transition-property(background-position);
		@include transition-duration(0.3s);
	}

	.dr-like p{
		position: relative;
		margin-left: 30px;
	}

}

.dr-uploat-at, .dr-cc-by, .dr-cc-na, .dr-cc-nc, .dr-cc-sa{
	position: relative;
	float: left;
}

.dr-cc-by, .dr-cc-na, .dr-cc-nc, .dr-cc-sa{
	margin-left: 5px;
}

.dr-uploat-at{
	margin-right: 5px;
}

.dr-exif-info{
	position: relative;
	cursor:pointer;
	margin-left: 30px;

	.icons-icn-exif, .dr-exif-string{
		float: left;
	}

	.dr-exif-string{
		margin-left: 10px;
	}
}

.dr-exif-content{
	position:absolute;
	width: 300px;
	margin-top: 25px;
	padding-left: 30px;
	padding-bottom: 60px;
	z-index: $zindex-dr-info-text;
}

.dr-goole-map{
	height: 350px;
	margin-bottom: 45px;
}


.dr-header{
	position: relative;
	height: 50px;
}

.dr-pictitle{
	cursor: pointer;
	position: relative;
}

.dr-pictitle{
	height: 24px;

	&:before , p{
		float: left;
	}

	&:before{
		content: "\25B2";
		//padding-left: 10px;
		padding-right: 10px;
		font-family: "NotoSansCJKtc Normal";
		font-size: 16px;
	}

	&.active :before{
		content: "\25BC";
		//padding-left: 10px;
		padding-right: 10px;
		font-family: "NotoSansCJKtc Normal";
		font-size: 16px;
	}
}

.dr-body,.dr-wraper{
	position: relative;
	overflow: hidden;
}

.dr-watercourse{
	display: inline-block;
    font-size: 0;
    height: 140px;
    left: 0;
    position: relative;
    white-space: nowrap;
    width: auto;
}
.dr-thumb{
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
    height: 140px;
	margin-right: 15px;

  	&.isLoaded{
	   min-width: 140px;
	   min-height: 140px;
	   background-image: url("/cyberisland/images/loading_s.gif");
	   background-repeat: no-repeat;
	   background-position: center;
	}

	img {
	    max-height: 100%;
		max-width: 100%
	}
}

.dr-btn-left, .dr-btn-right, .dr-sliders-masker{
	vertical-align : top;
	display: inline-block;
}

.dr-btn-left, .dr-btn-right{
	cursor:pointer;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.dr-btn-left:before{
   content:"\25c0";
   font-family: "NotoSansCJKtc Normal";
   font-size: 16px;
   padding: 10px;
   color: #1c2528;
   width: 36px;
   hidden: 24px;
}

.dr-btn-right:after{
	content: "\25b6";
	padding: 10px;
	font-family: "NotoSansCJKtc Normal";
	font-size: 16px;
	color: #1c2528;
	width: 36px;
	hidden: 24px;
}


.dr-sliders-masker{
	position: relative;
	width: 708px;
	height: 140px;
	overflow: hidden;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;

	@media only screen and (max-width:989px){
        width: 708px;
    }

    @media only screen and (min-width:990px) and (max-width: 1319px){
         width: 708px;
    }

    @media only screen and (min-width:1320px) {
        width: 1038px;
    }


}

//-------

.col-drakroon-pic{
	overflow: hidden;
	padding-left: 90px;
	padding-right: 90px;

	img{
		width: 100%;
		height: auto;
	}

	p {
		padding-top: 16px;
		padding-bottom: 20px;

		font-family: "NotoSansCJKtc Normal";
		font-weight: $normal;
		font-size: 14px;
		color: #1c2528;
		text-align: left;
	}
}

.col-drakroon-desc{
	.author{
		font-family: "NotoSansCJKtc Normal";
		font-weight: $normal;
	}

	.location{
		font-family: "NotoSansCJKtc Normal";
		font-weight: $normal;
		color: #1c2528;
		text-align: left;
	}

	.desc{
		margin-top: 45px;
	}

	.meta{
		margin-top: 60px;
	}
}
