
// = mixin
//  
//===============================================

@mixin make-custom-dropdown($width:140px){
	position: relative;
	display: inline-block;
	vertical-align: middle;	

	@-moz-document url-prefix() {
	  select {
	    -moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: "";
	  }
	}

	& .label{
		position: absolute;
		top: 1px;
		right: 0px;
		width: 25px;
		height: 24px;
		background-color: #f7f7f7;
		pointer-events : none;
	}
	
	
	& select{
		background-color: #f7f7f7;
		color: #1c2528;
		font-family: "NotoSansCJKtc Normal";
		font-size: 14px;
		height: 22px;
		width: $width;
		padding-left:8px;
		border: 0px;

		text-indent: 0.01px;
		text-overflow: '';

		outline : none;
		overflow : hidden;
		text-indent : 0.01px;
		text-overflow : '';

		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;		
	}

	& select::-ms-expand{
		display: none;
		visibility:hidden;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	&::before{
		width: $width;
		height: 1px;
		right: 0;
		bottom: -4px;
		background-color: #bed5d5;
	}

	&::after{
		content: "\25BC";
		font-size: 12px;
		color: #1c2528;
		top: 3px;
		right: 5px;
	}
}

// = style
// 
// ====================================================

.dpdm-sm{
	@include make-custom-dropdown(70px);
}

.dpdm-md{
	@include make-custom-dropdown(140px);
}

.dpdm-lg{
	@include make-custom-dropdown(170px);
}

