.essay{
	.header{
		position:relative;
		text-align: center;
		height: 723px;
		line-height: 723px;
	}

	.header-body{
		position:relative;
		display: inline-block;
		width: 566px;

		&.forb05{
			width: 740px;
		}
	}

	.category{

	}

	.create_at{

	}

	.titleWraper{
		position: relative;
		padding: 50px;
	}

	.line{
		position: absolute;
		left: 50%;
		margin-left: -50px;
		min-height: 1px;
		width: 100px;
		border-top: 1px solid #bed5d4;
		&.fixToTop{
			top: 5px;
		}

		&.fixToBottom{
			bottom: 5px;
		}
	}

	
	.previous {
		float: left;
		.icons-btn-previous, p{
			float: left;
		}
	}

	.next{
		float: right;
		.icons-btn-next, p{
			float: right;
		}
	}

	.icons-btn-previous,.icons-btn-next{
		margin-top: 2px;
	}

	.scrollToTop{
		p:before{
			content: "-";
			padding-right: 10px;
		}

		p:after{
			content: "-";
			padding-left: 10px;
		}
	}

	.banner{
		position: relative;
		overflow: hidden;
		margin-left: auto;

		height: 336px;

		img{
			width: 100%;
		}
	}
}

.partcpts-section{
	position: relative;
	min-height: 24px;

	.partcpts-title{
		position: absolute;
		background-color: #f7f7f7;
	}

	.partcpts-hr{
		position: absolute;
		margin-top: 10px;
	}
}

.partcpts-figure-section{
	position: relative;
	width: 990px;
}
