
form {
	
	
}

.form-group, .form-control{
	vertical-align: top;
}

.form-label,.form-control{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.form-label{
	width: 20%;
	text-align: right;
	line-height: 30px;
	
}

.search-form{
	width: 300px;
	.keyword{
		width: 170px;
		height: 15px;
	}
}
.pop-search-form{
	width: 410px;
	height: 308px;
	
	.form-label{
		width: 60px;
	}

}

.col-sm-title input[type="text"]{
	border: 0;
	width: 100%;
 	height: 24px;
 	//background-color: transparent;
 	font-family: "NotoSansCJKtc Normal";
 	font-size: 18px;
 	line-height: 1.333; /* 24px */
}

.col-sm-meta textarea{
	border: 0;
	width: 100%;
	height: 63px;
	font-family: "NotoSansCJKtc Normal";
	font-size: 14px;
	
}

/*
input[type="radio"] {
  display: none;
}
input[type="radio"] + p {
  background-color: #e5ebeb;
  border-radius: 50px;
  display: inline-block;
  float: left;
  margin-right: 7px;
  padding: 7px;
  position: relative;
  -webkit-appearance: none;
}
input[type="radio"]:checked + p {
  color: #ff4a2c;
}
input[type="radio"]:checked + p:after {
  background: #ff4a2c;
  border-radius: 50px;
  content: " ";
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 14px;
}*/