//== mixin
//
//########################################################
@mixin clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin make-row($gutter: $grid-gutter-width){
    position: relative;
    margin-left: ($gutter / -2);
    margin-right: ($gutter / -2);
    @include clearfix();
}

// Generate the column
@mixin make-column($columns, $gutter: $grid-gutter-width) {
    position: relative;
    width: $columns * $grid-column-width + ($columns - 1) * ($gutter); //percentage(($columns / $grid-columns));
    min-height: 1px;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
}

@mixin make-column-offset ($columns, $width: $grid-column-width ,$gutter: $grid-gutter-width) {
    margin-left: $columns * ($width + $gutter);
}

@mixin make-column-push ($columns, $width: $grid-column-width ,$gutter: $grid-gutter-width) {
    left: $columns * ($width + $gutter);   
}

@mixin make-column-pull($columns, $width: $grid-column-width ,$gutter: $grid-gutter-width) {
    right: $columns * ($width + $gutter);
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Define your base grid layout here. */

.container, .container-fluid{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	@include clearfix;
}

.container{
	width: 960px;
	min-width: 960px;

	@media (min-width: $screen-md-min) {
		width: 960px;
		min-width: 960px;
	}

	@media (min-width: $screen-lg-min) {
		width: 1290px;
		min-width: 1290px;
	}
}

.container-fluid{
	width: 100%;
	@media (min-width: $screen-md-min) {
		min-width: 960px;
	}

	@media (min-width: $screen-lg-min) {
		min-width: 1290px;
	}
}

.row {
	@include make-row();
}

.col-1, .col-sm {
	@include make-column(1);
}

.col-2 {
	@include make-column(2);
}

.col-3 {
	@include make-column(3);
}

.col-4 {
	@include make-column(4);
}

.col-md{
	@include make-column(1);
	@media (min-width: $screen-md-min) {
		@include make-column(1);
	}

	@media (min-width: $screen-lg-min) {
		@include make-column(2);
	}
}

.col-xmd{
	@include make-column(2);
	@media (min-width: $screen-md-min) {
		@include make-column(2);
	}

	@media (min-width: $screen-lg-min) {
		@include make-column(3);
	}
}

.col-lg {
	@include make-column(3);
	@media (min-width: $screen-md-min) {
		@include make-column(3);
	}

	@media (min-width: $screen-lg-min) {
		@include make-column(4);
	}
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-md,
.col-xmd,
.col-lg {
	@include clearfix;
	display: inline-block;
	overflow: hidden;
    *display:inline;
    *zoom:1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align:top;
}



