@import "compass/utilities/sprites";

$icons: sprite-map("icons/*.png", $spacing: 15px, $layout: smart);
$btns:	sprite-map("btns/*.png", $spacing: 15px, $layout: smart);
$dark:	sprite-map("darkroom/*.png", $spacing: 15px, $layout: smart);
$cc:	sprite-map("icn_cc/*.png", $spacing: 15px, $layout: smart); 

.icons-sprite,
.icons-icn_open,
.icons-icn-open-up,
.icon-check-dark,
.icon-check-lite,
.icons-title-article,
.icons-title-news,
.icons-gototop,
.icons-social-fb,
.icons-social-gl,
.icons-social-tw,
{
	background-image: sprite-url($icons);
	background-repeat: no-repeat; 
}

.icons-like,
.icons-unlike,
.icons-btn-load,
.icons-btn-member,
.icons-btn-next,
.icons-btn-previous
{
	background-image: sprite-url($btns);
	background-repeat: no-repeat;
}

.icons-btn-close, 
.icons-btn-full,
.icons-btn-left,
.icons-btn-right,
.icons-icn-anchor,
.icons-icn-exif
{
	background-image: sprite-url($dark);
	background-repeat: no-repeat; 
}


.icon-cc-by,
.icon-cc-na,
.icon-cc-nc,
.icon-cc-sa{
	background-image: sprite-url($cc);
	background-repeat: no-repeat; 
}

.icon-cc-by{
	background-position: sprite-position($cc, by);
	@include sprite-dimensions($cc, by);
}

.icon-cc-na{
	background-position: sprite-position($cc, na);
	@include sprite-dimensions($cc, na);
}
.icon-cc-nc{
	background-position: sprite-position($cc, nc);
	@include sprite-dimensions($cc, nc);
}
.icon-cc-sa{
	background-position: sprite-position($cc, sa);
	@include sprite-dimensions($cc, sa);
}



.icons-loading{
    background-image: url("/cyberisland/images/loading.gif");
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.icons-btn-close{
	background-position: sprite-position($dark, btn_close);
	@include sprite-dimensions($dark, btn_close);
} 
.icons-btn-full{
	background-position: sprite-position($dark, btn_full);
	@include sprite-dimensions($dark, btn_full);
}
.icons-btn-left{
	background-position: sprite-position($dark, btn_left);
	@include sprite-dimensions($dark, btn_left);
}

.icons-btn-right{
	background-position: sprite-position($dark, btn_right);
	@include sprite-dimensions($dark, btn_right);
}
.icons-icn-anchor{
	background-position: sprite-position($dark, icn_anchor);
	@include sprite-dimensions($dark, icn_anchor);
}
.icons-icn-exif{
	background-position: sprite-position($dark, icn_exif);
	@include sprite-dimensions($dark, icn_exif);
}

.icons-logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 190px;
	height: 70px; 
}

.icons-logo-back-s {
	background-image: url("../images/backend/logo_back_s.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 140px;
	height: 51px; 
}




.icon-check-dark, .icon-check-lite{
	height: 9px;
    width: 11px;
	//@include transition-property(background-position);
	//@include transition-duration(0.3s);
}

.icon-check-dark{
	background-position: sprite-position($icons, icn_check);
}

.icon-check-lite{
	background-position: -36px -93px;
}


.icons-gototop{
	background-position: sprite-position($icons, ic_gototop);
	@include sprite-dimensions($icons, ic_gototop);
}

.icons-title-article {
	background-position: sprite-position($icons, title_article);
	@include sprite-dimensions($icons, title_article); 
}

.icons-title-news{
	background-position: sprite-position($icons, title_news);
	@include sprite-dimensions($icons, title_news); 
}

.icons-icn_open {
	background-position: sprite-position($icons, icn_open);
	@include sprite-dimensions($icons, icn_open);
}

.icons-icn-open-up{
	background-position: sprite-position($icons, icn_open_up);
	@include sprite-dimensions($icons, icn_open_up);
}


.icons-social-fb{
	background-position: -4px 0;
	//background-position: sprite-position($icons, social_fb);
	@include sprite-dimensions($icons, social_fb);
}

.icons-social-gl{
	background-position: sprite-position($icons, social_gl);
	@include sprite-dimensions($icons, social_gl);
}

.icons-social-tw{
	background-position: sprite-position($icons, social_tw);
	@include sprite-dimensions($icons, social_tw);
}

//	background-position: -42px -24px;
//	width: 24px;
//	height: 22px; 


.icons-btn-next{
	background-position: sprite-position($btns, btn_next);
	@include sprite-dimensions($btns, btn_next);
}

.icons-btn-previous{
	background-position: sprite-position($btns, btn_previous);
	@include sprite-dimensions($btns, btn_previous);
}

.icons-like {
	background-position: 0 -52px;
	width: 24px;
	height: 22px;
}

.icons-unlike {
	background-position: sprite-position($btns, like); 
	width: 24px;
	height: 22px;
}

.icons-btn-member {
	background-position: sprite-position($btns, btn-member);
	@include sprite-dimensions($btns, btn-member); }

.icons-btn-load {
	background-position: sprite-position($btns, btn_load);
	width: 60px;
	height: 60px;

	&:hover {
		background-position: 0 -229px;
		width: 60px;
		height: 60px;
	}
}

.icons-btn-arrow-left {
	background-image: url("../images/btn_arrow_left.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 51px;
	height: 58px;
	
}

.icons-btn-arrow-right {
	background-image: url("../images/btn_arrow_right.png");
	background-repeat: no-repeat;
	background-size: contain;	
	width: 51px;
	height: 58px;
}



.icons-search10x10{
	background-image: url("../images/backend/ic_search10x10.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 10px;
	height: 10px;
}


.icon-btn-small-cover{
	background-image: url("../images/backend/btn_cover_small_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 20px;

	&:hover{
		background-image: url("../images/backend/btn_cover_small_hover.png");
	}

	&:active{
		background-image: url("../images/backend/btn_cover_small_pressed.png");
	}
}

.icon-btn-small-edit{
	background-image: url("../images/backend/btn_edit_small_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 20px;

	&:hover{
		background-image: url("../images/backend/btn_edit_small_hover.png");
	}

	&:active{
		background-image: url("../images/backend/btn_edit_small_pressed.png");
	}
}

.icon-btn-small-rotate{
	background-image: url("../images/backend/btn_rotate_small_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 20px;

	&:hover{
		background-image: url("../images/backend/btn_rotate_small_hover.png");
	}

	&:active{
		background-image: url("../images/backend/btn_rotate_small_pressed.png");
	}
}

.icon-btn-small-move{
	background-image: url("../images/backend/btn_move_small_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 20px;

	&:hover{
		background-image: url("../images/backend/btn_move_small_hover.png");
	}

	&:active{
		background-image: url("../images/backend/btn_move_small_pressed.png");
	}
}

.icon-btn-small-delete{
	background-image: url("../images/backend/btn_delete_small_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 20px;

	&:hover{
		background-image: url("../images/backend/btn_delete_small_hover.png");
	}

	&:active{
		background-image: url("../images/backend/btn_delete_small_pressed.png");
	}
}

.icon-btn-small-del-d{
	background-image: url("../images/backend/btn_delete_small_hover.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 20px;

	&:hover, &:active{
		background-image: url("../images/backend/btn_delete_small_pressed.png");
	}

}


.icon-btn-small-rotate-d{
	background-image: url("../images/backend/btn_rotate_small_hover.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 20px;

	&:hover, &:active{
		background-image: url("../images/backend/btn_rotate_small_pressed.png");
	}
}

.icon-btn-small-edit-d{
	background-image: url("../images/backend/btn_edit_small_hover.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 20px;

	&:hover{
		background-image: url("../images/backend/btn_edit_small_pressed.png");
	}

	&:active{
		background-image: url("../images/backend/btn_edit_small_pressed.png");
	}
}

.icon-bk-btn-select{
	background-image: url("../images/backend/btn_selectall_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 60px;
	height: 36px;

	&:hover{
		background-image: url("../images/backend/btn_selectall_hover.png");
	}

	&:active , &.active{
		background-image: url("../images/backend/btn_selectall_pressed.png");
	}

	&:disabled, &.disabled{
		background-image: url("../images/backend/btn_selectall_disabled.png");
	}
}

.icon-bk-btn-rotate{
	background-image: url("../images/backend/btn_rotate_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 60px;
	height: 36px;

	&:hover{
		background-image: url("../images/backend/btn_rotate_hover.png");
	}

	&:active , &.active{
		background-image: url("../images/backend/btn_rotate_pressed.png");
	}

	&:disabled, &.disabled{
		background-image: url("../images/backend/btn_rotate_disabled.png");
	}
}


.icon-bk-btn-move{
	background-image: url("../images/backend/btn_move_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 60px;
	height: 36px;

	&:hover{
		background-image: url("../images/backend/btn_move_hover.png");
	}

	&:active , &.active{
		background-image: url("../images/backend/btn_move_pressed.png");
	}

	&:disabled, &.disabled{
		background-image: url("../images/backend/btn_move_disabled.png");
	}
}

.icon-bk-btn-delete{
	background-image: url("../images/backend/btn_delete_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 60px;
	height: 36px;

	&:hover{
		background-image: url("../images/backend/btn_delete_hover.png");
	}

	&:active, &.active{
		background-image: url("../images/backend/btn_delete_pressed.png");
	}

	&:disabled, &.disabled{
		background-image: url("../images/backend/btn_delete_disabled.png");
	}
}

.icon-chk{
	background-image: url("../images/backend/chk_unchecked.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 15px;

	&:active, &.active{
		background-image: url("../images/backend/chk_checked.png");
	}

	&.disabled{
		background-image: url("../images/backend/chk_disabled.png");
	}
}

.icon-reminder{
	background-image: url("../images/backend/ic_reminder.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 12px;
	height: 13px;
}

.icon-lowerrightTri{
	background-image: url("../images/backend/ic_lowerRightTri.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 6px;
	height: 6px;
}

.icon-btn-deleteAlbum{
	background-image: url("../images/backend/btn_deleteAlbum_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 96px;
	height: 36px;

	&:hover{
		background-image: url("../images/backend/btn_deleteAlbum_hover.png");
	}

	&:active{
		background-image: url("../images/backend/btn_deleteAlbum_pressed.png");
	}
}

.icon-editMapLocation{
	background-image: url("../images/backend/ic_editMapLocation.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 15px;
	height: 15px;
}

.img_nocoversSquare{
	background-image: url("../images/backend/img_nocoversSquare.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 300px;
}

.img_nocoversSquare175x175{
	background-image: url("../images/backend/img_nocoversSquare.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 175px;
	height: 175px;
}

.img-defaultMemberPic{
	background-image: url("../images/backend/img_defaultMemberPic.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 130px;
	height: 130px;
}

.icon-albumCoverSelected{
	background-image: url("../images/backend/img_albumCoverSelected.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 100px;
}


.icon-uploadEmpty{
	background-image: url("../images/backend/img_uploadEmpty.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 64px;
	height: 64px;
}

.icon-uploadOk{
	background-image: url("../images/backend/img_uploadOK.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 110px;
	height: 110px;
}

.icon-uploadNg{
	background-image: url("../images/backend/img_uploadNG.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 110px;
	height: 110px;
}

.icon-logo-login{
	background-image: url("../images/backend/logo_login_white.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 180px;
	height: 65px;
}

.icon-socialFacebook{
	background-image: url("../images/backend/ic_socialFacebook_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 45px;
	height: 45px;

	&:hover{
		background-image: url("../images/backend/ic_socialFacebook_hover.png");
	}
}

.icon-socialGoogleplus{
	background-image: url("../images/backend/ic_socialGoogleplus_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 45px;
	height: 45px;

	&:hover{
		background-image: url("../images/backend/ic_socialGoogleplus_hover.png");
	}
}

.icon-socialLinkedin{
	background-image: url("../images/backend/ic_socialLinkedin_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 45px;
	height: 45px;

	&:hover{
		background-image: url("../images/backend/ic_socialLinkedin_hover.png");
	}
}

.icon-socialPinterest{
	background-image: url("../images/backend/ic_socialPinterest_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 45px;
	height: 45px;

	&:hover{
		background-image: url("../images/backend/ic_socialPinterest_hover.png");
	}
}

.icon-socialTumblr{
	background-image: url("../images/backend/ic_socialTumblr_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 45px;
	height: 45px;

	&:hover{
		background-image: url("../images/backend/ic_socialTumblr_hover.png");
	}
}

.icon-socialTwitter{
	background-image: url("../images/backend/ic_socialTwitter_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 45px;
	height: 45px;

	&:hover{
		background-image: url("../images/backend/ic_socialTwitter_hover.png");
	}
}


.icon-tick-green{
	background-image: url("../images/backend/ic_tick_green.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 12px;
	height: 12px;
}


.icon-close12x12{
	background-image: url("../images/backend/ic_close12x12.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 12px;
	height: 12px;
}

.icon-infoArrowLeft{
	background-image: url("../images/backend/img_infoArrowLeft.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 72px;
	height: 82px;
}


.icon-infoArrowRight{
	background-image: url("../images/backend/img_infoArrowRight.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 72px;
	height: 82px;
	
}


.icon-editMyinfo{
	background-image: url("../images/backend/btn_EditMyinfo_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 90px;
	height: 24px;

	&:hover{
		background-image: url("../images/backend/btn_EditMyinfo_hover.png");
	}
	&:active{
		background-image: url("../images/backend/btn_EditMyinfo_pressed.png");
	}

}

.icon-deleteCollection{
	background-image: url("../images/backend/btn_deleteCollection_normal.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 36px;

	&:hover{
		background-image: url("../images/backend/btn_deleteCollection_hover.png");
	}
	&:active{
		background-image: url("../images/backend/btn_deleteCollection_pressed.png");
	}

}










