::-webkit-input-placeholder {
   font-weight: $medium;
   font-size: 16px;
   color: #1c2528;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: $medium;
   font-size: 16px;
   color: #1c2528;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: $medium;
   font-size: 16px;
   color: #1c2528; 
}

:-ms-input-placeholder {  
   font-weight: $medium;
   font-size: 16px;
   color: #1c2528; 
}