//== mixin
//
//########################################################
@mixin clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin make-row($gutter: $grid-gutter-width){
    position: relative;
    margin-left: ($gutter / -2);
    margin-right: ($gutter / -2);
    @include clearfix();
}

// Generate the column
@mixin make-column($columns, $gutter: $grid-gutter-width) {
    position: relative;
    width: $columns * $grid-column-width + ($columns - 1) * ($gutter); //percentage(($columns / $grid-columns));
    min-height: 1px;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
}

@mixin make-column-offset ($columns, $width: $grid-column-width ,$gutter: $grid-gutter-width) {
    margin-left: $columns * ($width + $gutter);
}

@mixin make-column-push ($columns, $width: $grid-column-width ,$gutter: $grid-gutter-width) {
    left: $columns * ($width + $gutter);   
}

@mixin make-column-pull($columns, $width: $grid-column-width ,$gutter: $grid-gutter-width) {
    right: $columns * ($width + $gutter);
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* define your layout here */

@media only screen and (max-width:989px){
  @include grid_990_3_15_15();
}

@media only screen and (min-width:990px) and (max-width: 1319px){
  @include grid_990_3_15_15();
}

@media only screen and (min-width:1320px) {
  @include grid_1320_4_15_15();
}

@media only screen and (device-width : 768px) and (device-height : 1024px) and (orientation:portrait) {
  .container{
      width: 990px;
  }
}

@media only screen and (device-width : 768px) and (device-height : 1024px) and (orientation:landscape) {
  .container{
      width: 990px;
  }
}

@media only screen and (device-width : 768px) and (device-height : 1024px)  and (orientation:portrait)  and (-webkit-min-device-pixel-ratio: 2) {
  .container{
     width: 990px;
  }
}

@media only screen and (device-width : 768px) and (device-height : 1024px)  and (orientation:landscape)  and (-webkit-min-device-pixel-ratio: 2) {
  .container{
    width: 990px;
  }
}

@media all and (device-width : 768px) and (device-height : 1024px)  and (orientation:portrait)  and (-webkit-min-device-pixel-ratio: 1){
  .container{
    width: 990px;
  }
}

@media all and (device-width : 768px) and (device-height : 1024px)  and (orientation:landscape)  and (-webkit-min-device-pixel-ratio: 1){
  .container{
    width: 990px;
  }
}


@media all and (device-width : 375px) and (device-height : 667px) and (orientation:portrait) {
  .container{
    width: 990px;
  }
}

@media all and (device-width : 375px) and (device-height : 667px) and (orientation:landscape) {
  .container{
    width: 990px;
  }
}

@media all and (device-width : 540px) and (device-height : 960px) and (orientation:portrait) {
  .container{
    width: 990px;
  }
}

@media all and (device-width : 540px) and (device-height : 960px) and (orientation:landscape) {
  .container{
    width: 990px;
  }
}

@media all and (device-width : 320px) and (device-height : 568px) and (orientation:portrait) {
  .container{
    width: 990px;
  }
}

@media all and (device-width : 320px) and (device-height : 568px) and (orientation:landscape) {
  .container{
    width: 990px;
  }
}

@media all and (device-width : 320px) and (device-height : 480px) and (orientation:portrait) {
  .container{
    width: 990px;
  }
}

@media all and (device-width : 320px) and (device-height : 480px) and (orientation:landscape) {
  .container{
    width: 990px;
  }
}





.container-fluid{
    width: 100%;
    @media only screen and (max-width:989px){
        min-width: 990px;
    }

    @media only screen and (min-width:990px) and (max-width: 1319px){
        min-width: 990px;
    }
}

.row{
	position: relative;
  @include clearfix();
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-sm,
.col-md,
.col-xmd,
.col-lg {
	  @include clearfix;
	  display: inline-block;
	  overflow: hidden;
    *display:inline;
    *zoom:1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align:top;
}

.col-ito{
  display: inline-block;
  width: 990px;
}

.col-3{
  position: relative;
}




