/* define your wraper style here */
.background {
	background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;

    @include background-size(cover);
}

.fullscreen, .content-a{
	width: 100%;
	min-height: 830px;

	height: 100%;
	overflow: hidden;
}

.content-a {
    display:table;
}

.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}


.login-main{
	background-image: url("../images/backend/img_backgroundHD_01.png");
}

.signup-step-one{
	//min-height: 876px;
	background-image: url("../images/backend/img_backgroundHD_02.png");
}

.signup-step-two{
	//min-height: 600px;
	background-image: url("../images/backend/img_backgroundHD_03.png");
}

.login-panel{
	position: relative;
	border: 1px solid #fff;
	width: 470px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.login-account, .login-pwd {
	display: block;
	border: 0;
	width: 350px;
	height: 36px;
	padding: 10px;
	background-color: #fff;
	font-family: "NotoSansCJKtc Regular";
	font-weight: $regular;
	font-size: 16px;
	color: #696865;
	text-align: left; 
}

.btn-login{
	padding: 0;
	width: 150px;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

.login-divider{
	width: 88px;
	border-top: 1px solid rgba(#fff, 0.4);
}


.login-link{
	&:visited{ color: #ffffff; }
	&:hover{ color: #ff4a2c; }
	&:active{ color: #0000ff; }
}

.sign-panel-wraper{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 550px;
}

.sign-panel{
	position: relative;
	padding: 0 40px 20px 40px;
	border: 1px solid rgba(#000, 0.2);
	text-align: center;
	background-color: rgba(#272727, 0.8);
	font-family: "NotoSansCJKtc Regular";
	font-weight: $regular;
	font-size: 16px;
	color: #fff;
	//text-shadow: 1px 1px #9d9d9d;
}

.sign-label, .sign-controll{
	float: left;
}

.sign-label{
	width: 105px;	
}

.sign-controll{
	margin-left: 10px;
}

.sign-process-coyright{
	position: absolute;
	bottom: 10px; 
	right: 10px;
}

.sign-guidelines-panel{
	position: relative;
	overflow: hidden;
	width: 550px;
	height: 780px;
	background-color: rgba(#272727, 0.8);
	
}

.sign-guidelines-content{
	position: relative;;
	overflow: auto;
	height: 750px;
	//overflow-y : scroll;
}

