@import "compass/typography/lists/inline-block-list";

nav{

	margin: 0;
	padding: 0;

	li {
		display: inline-block;
	}
}

.nav-main, .nav-sub, .nav-sub-special{
	text-align: center;

	a{
		font-family: "NotoSansCJKtc Normal";
		font-weight: $normal;
		color: #696865;
	}

	.active a{
		font-family: "NotoSansCJKtc Bold";
		font-weight: $bold;
		color: #1c2528;
	}
}

.nav-main li{
	padding-left: 15px;
	padding-right: 15px;
}

.nav-main.forl2l3 li{
	padding-left: 0;
	padding-right: 0;

	&:first-child:after{
		content: "|";
		font-size: 14px;
		color: #bed5d4;
		margin-left: 17px;
		margin-right: 17px; 
	}
}

.nav-main li a.special{
	padding-left: 17.5px;
	padding-right: 17.5px;
	border-bottom: 1px dotted #696865;
}

.nav-sub li a{
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.nav-sub-special{
	li:first-child a{
		padding-left: 22.5px;
		padding-right: 22.5px;
	}

	li a {
		padding-left: 15px;
		padding-right: 15px;
	} 
}
