// 
// variable
//---------------------------------------------------

$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;



//
// Navbars
// --------------------------------------------------

.navbar {
	position: relative;
  	min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  //margin-bottom: $navbar-margin-bottom;
  //border: 1px solid transparent;

  // Prevent floats from breaking the navbar
  //@include clearfix;
}

.navbar-fixed-top{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $zindex-navbar;
	background-color: #f7f7f7;

	@include box-shadow(rgba(229,235,235,0.7) 0px 3px);

	&.navbar-header_small{
		@include box-shadow(rgba(229,235,235,0.7) 0px 2px);
	}

	&.backend {
		background-color: #1c2528;
		@include box-shadow(rgba(#696865,0.7) 0px 2px);
	}

	&.forTutorial{
		background-color: #f7f7f7;
	}
}



.navbar-nav{
	li {
		display: inline-block;
		height: 100%;

	}
}

.nav-wraper{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0px;
}

.navbar-center{
	position: relative;
	text-align: center;

	li {
		padding-left: 12px;
		padding-right: 12px;
	}
}

.navbar-header{
	@extend %transition-height;

	a{
		@extend %transition-line-width;
	}

	.keyword{
		@extend %transition-height;
	}
}

.navbar-header{
	position: relative;
	height: 96px;

	.navbar-center, .navbar-center li, .navbar-center a{
		height: 100%;	
	}

	.navbar-center .active{
		border-bottom: 3px solid #1c2528;
	}

	.navbar-brand{
		position: absolute;
		top: 14px;
		left: 15px;
		z-index: 99;
		@extend %transition-top;
		.icons-logo {
			width: 170px;
			height: 90px;
			@extend %transition-height;
			@extend %transition-width;
		}
	}

	.navbar-right{
		position: absolute;
		overflow: hidden;
		top: 0;

		font-size:0;/* 所有浏览器 */
    	*word-spacing:-1px;/* IE6、7 */

    	left: 753px;
		li:first-child, li:first-child a{
			width: 75px;
			//width: 10px;
		}
	
		li:first-child a{
			display: inline-block;
			white-space: nowrap;
			overflow: hidden;
	    	text-overflow: ellipsis;
	    	padding-top: 1px;
		}

		li.signed a{
			margin-left: -10px;
		}

		li.signed a:before {
		    position: absolute;
		    right: 0px;
		    margin-top: 3px;
		    padding-left: 3px;
		    padding-right: 3px;
		    color: #1c2528;
		    content: "▼";
		    font-size: 12px;
		    
		}

		@media only screen and (max-width:989px){
			left: 727px;
			li:first-child, li:first-child a{
				width: 75px;
			}
		}

		@media only screen and (min-width:990px) and (max-width: 1319px){
			left: 727px;
			li:first-child, li:first-child a{
				width: 75px;
				
			}
		}

		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
			left: 724px;
		}

		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {
			left: 724px;
		}

		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1){
			left: 724px;
		}


		@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
			left: 724px;
		}

		@media only screen and (min-device-width : 540px) and (max-device-width : 960px) {
			left: 724px;
		}

		@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
			left: 724px;
		}

		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
			left: 724px;
		}

		@media only screen and (min-width:1320px) {
			left: 980px;
			li:first-child, li:first-child a{
				width: 150px;
			}
		}

		li{
			position: relative;
			padding-top: 36px;
			vertical-align: top;
			@extend %transition-padding-top;
			padding-left: 12px;
			padding-right: 11px;
			
			&:first-child:before{
				position: relative;
				content: "";
			}
			
			&:before{
				position: absolute;
				content: "|";
				font-size: 14px;
				margin-top: 1px;
				left: 0px;
			}
		}

		li a, .keyword{
			vertical-align: top;
		}

		.keyword {
			border: 0;
			width: 62px;
			height: 24px;
	    	background-color: transparent;
	    	font-family: "NotoSansCJKtc Normal";
			font-weight: $normal;
			font-size: 16px;
			padding: 0;
		}
	}

	.nav-user-opiton{
		position: absolute;
		display: none;
		padding: 10px 20px 10px 20px;
		top: 70px;
		right: 180px;
		background-color: rgba(#1c2528, 0.8);
		//border: 1px solid #e6e6e6;

		.opiton-item{
			margin-top: 6px;
			margin-bottom: 6px;
		}

		&.active{
			display: block;
		}
	}

	&.navbar-header_small{
		height: 60px;
		//border-bottom: 2px solid rgba(#e5ebeb,0.7);

		.navbar-brand {
	  		top: 9px;
	  	}
		.navbar-brand .icons-logo{
			width: 140px;
			height: 51px;
		}

		.navbar-center a{
	  		line-height: 60px;
	  	}

	  	.navbar-center .active{
			border-bottom: 2px solid #1c2528;
		}

	  	.navbar-right li {
	  		padding-top: 18px;
	  	}
		
	}

	&.formap{
		height: 64px;

		.navbar-center a{
	  		line-height: 64px;
	  	}

	  	.navbar-brand {
	  		top: 5px;
	  	}
		.navbar-brand .icons-logo{
			width: 140px;
			height: 51px;
		}

		.navbar-right li {
	  		padding-top: 20px;
	  	}
	}
}



.navbar-fluid-bottom{
	position: relative;
	height: 48px;

	&.formap{
		margin-top: -63px;
		position: relative;
	}
}

.navbar-footer{
	position: relative;
	border-top: 1px solid #696865;
	.navbar-right{
		position: absolute;
		top: 0;
		right: 15px;
		height: 100%;
		padding-top: 12px;

		font-size:0;/* 所有浏览器 */
    	*word-spacing:-1px;/* IE6、7 */

    	li{
    		vertical-align: top;

    		@include font-size(16px);
			line-height: 1.5; /* 24px */
    	}
	}


}

.navbar-backen-header{
	position: relative;
	height: 60px;
	
	.navbar-brand{
		position: absolute;
		top: 7px;
		z-index: 99;
	}

	.nav-user-control, .nav-upload-control{
		cursor: pointer;
		position: relative;
		float: right;
		height: 100%;
		
	}

	.nav-user-control{
		margin-right: 30px;
		p{
			line-height: 60px;
			text-align: center;

			&::after{
				content: "\25BC";
				font-size: 12px;
				color: #ffffff;
				margin-left: 10px;
			}
		}


	}

	.navbar-left{
		float: left;
		margin-left: 160px;
		height: 100%;
		a{
			line-height:60px;
		}
	
		li {
			padding-left:5px;
			padding-right:5px;
			margin-left: 15px;
			margin-right: 15px;
		}

		li.active{
			border-bottom: 2px solid white;
			
			a{
				font-family: "NotoSansCJKtc Medium";
				font-weight: $medium;
			}
		}
	}

	.nav-user-opiton{
		position: absolute;
		display: none;
		padding: 10px 20px;
		top: 50px;
		right: 120px;
		background-color: rgba(#ffffff, 0.8);
		border: 1px solid #e6e6e6;

		.opiton-item{
			margin-top: 7px;
			margin-bottom: 7px;
		}

		&.active{
			display: block;
		}
	}

	&.forTutorial p, &.forTutorial a{
		color: #1c2528;
	}

}







