@charset "UTF-8";

// font-face
//////////////////////////////////////////////////// 
///

@font-face {
    font-family: "NotoSansCJKtc Normal";
    src: url('../fonts/SourceHanSansTWHK-Normal.eot');
    src: local('NotoSansCJKtc Normal'), local('NotoSansCJKtc-Normal'),
         url('../fonts/SourceHanSansTWHK-Normal.eot?#iefix') format('embedded-opentype'), 
         url("../fonts/SourceHanSansTWHK-Normal.woff") format("woff"),
         url("../fonts/SourceHanSansTWHK-Normal.otf") format("opentype");
      
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSansCJKtc Regular";
    src: url('../fonts/SourceHanSansTWHK-Regular.eot');
    src: local('NotoSansCJKtc Regular'), local('NotoSansCJKtc-Regular'),
         url('../fonts/SourceHanSansTWHK-Regular.eot?#iefix') format('embedded-opentype'), 
         url("../fonts/SourceHanSansTWHK-Regular.woff") format("woff"),
         url("../fonts/SourceHanSansTWHK-Regular.otf") format("opentype");
        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSansCJKtc Bold";
    src: url('../fonts/SourceHanSansTWHK-Bold.eot');
    src: local('NotoSansCJKtc Bold'), local('NotoSansCJKtc-Bold'),
         url('../fonts/SourceHanSansTWHK-Bold.eot?#iefix') format('embedded-opentype'),
         url("../fonts/SourceHanSansTWHK-Bold.woff") format("woff"),
         url("../fonts/SourceHanSansTWHK-Bold.otf") format("opentype");
         
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: "NotoSansCJKtc Medium";
    src: url('../fonts/SourceHanSansTWHK-Medium.eot');
    src: local('NotoSansCJKtc Medium'), local('NotoSansCJKtc-Medium'),
         url('../fonts/SourceHanSansTWHK-Medium.eot?#iefix') format('embedded-opentype'),
         url("../fonts/SourceHanSansTWHK-Medium.woff") format("woff"),
         url("../fonts/SourceHanSansTWHK-Medium.otf") format("opentype");
         
    font-weight: medium;
    font-style: medium;
}

@font-face {
    font-family: "NotoSansCJKtc Light";
    src: url('../fonts/SourceHanSansTWHK-Light.eot');
    src: local('NotoSansCJKtc Light'), local('NotoSansCJKtc-Light'),
         url('../fonts/SourceHanSansTWHK-Light.eot?#iefix') format('embedded-opentype'),
         url("../fonts/SourceHanSansTWHK-Light.woff") format("woff"),
         url("../fonts/SourceHanSansTWHK-Light.otf") format("opentype");
         
    font-weight: light;
    font-style: light;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body{
  height: 100%;
  font-family: "NotoSansCJKtc Normal", "Microsoft Jhenghei", "微軟正黑體" ,Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5; /* 24px */
  color: #1c2528;
}


body{
	background-color: #f7f7f7;
}

body:-webkit-full-screen , body:-moz-full-screen{
  background-color: #f7f7f7;
}

ol, ul {
  list-style: none;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
span {
  display: block;
}

// Links
// ==========================================================================
img {border : 0;}

a img {
  border: none;
}


a {
	//display: inline-block;
	text-decoration: none;
	background-color: transparent;
  color: #1c2528;
  outline: medium none;
  behavior:expression(this.onFocus=this.blur()); /* for IE */

	&:active,
	&:hover{
    outline: medium none;
    behavior:expression(this.onFocus=this.blur()); /* for IE */
	}

  &:focus{ 
    outline: medium none;
    behavior:expression(this.onFocus=this.blur()); /* for IE */
  }
}

// Text-level semantics
// ==========================================================================

//
// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
//

b,
strong {
  font-weight: $bold;
}

dfn {
  font-style: italic;
}

//
// Address styling not present in IE 8/9.
//

mark {
  background: #ff0;
  color: #000;
}

//
// Address inconsistent and variable font size in all browsers.
//

small {
  font-size: 80%;
}

//
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
//

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Embedded content
// ==========================================================================

//
// Correct overflow not hidden in IE 9/10/11.
//

svg:not(:root) {
  overflow: hidden;
  width: 100%;
  min-width: 990px;
 //height: 100%;
  
  @media only screen and (orientation: portrait) {
      /* css rules */
       max-height: 632px;
  }

}

// Grouping content
// ==========================================================================

//
// Address margin not present in IE 8/9 and Safari.
//

figure {
  margin: 1em 40px;
  min-width: 300px;
  min-height: 200px;
}

//
// Address differences between Firefox and other browsers.
//

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

//
// Contain overflow in all browsers.
//

pre {
  overflow: auto;
}

//
// Address odd `em`-unit font size rendering in all browsers.
//

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}


// Forms
// ==========================================================================

//
// Known limitation: by default, Chrome and Safari on OS X allow very limited
// styling of `select`, unless a `border` property is set.
//

//
// 1. Correct color not being inherited.
//    Known issue: affects color of disabled elements.
// 2. Correct font properties not being inherited.
// 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
//

button,
input,
optgroup,
select,
textarea {
 // color: inherit; // 1
 // font: inherit; // 2
  margin: 0; // 3
}

//
// Address `overflow` set to `hidden` in IE 8/9/10/11.
//

button {
  overflow: visible;
}

//
// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
// Correct `select` style inheritance in Firefox.
//

button,
select {
  text-transform: none;
}

//
// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others.
//

button,
html input[type="button"], // 1
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; // 2
  cursor: pointer; // 3
}

//
// Re-set default cursor for disabled elements.
//

button[disabled],
html input[disabled] {
  cursor: default;
}

//
// Remove inner padding and border in Firefox 4+.
//

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

//
// Address Firefox 4+ setting `line-height` on `input` using `!important` in
// the UA stylesheet.
//

input {
  line-height: normal;
}

//
// It's recommended that you don't attempt to style these elements.
// Firefox's implementation doesn't respect box-sizing, padding, or width.
//
// 1. Address box sizing set to `content-box` in IE 8/9/10.
// 2. Remove excess padding in IE 8/9/10.
//

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}

//
// Fix the cursor style for Chrome's increment/decrement buttons. For certain
// `font-size` values of the `input`, it causes the cursor style of the
// decrement button to change from `default` to `text`.
//

input[type="number"]::-webkit-d-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

//
// 1. Address `appearance` set to `searchfield` in Safari and Chrome.
// 2. Address `box-sizing` set to `border-box` in Safari and Chrome
//    (include `-moz` to future-proof).
//

input[type="search"] {
  -webkit-appearance: textfield; // 1
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; // 2
  box-sizing: content-box;
}

//
// Remove inner padding and search cancel button in Safari and Chrome on OS X.
// Safari (but not Chrome) clips the cancel button when the search input has
// padding (and `textfield` appearance).
//

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

//
// Define consistent border, margin, and padding.
//

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

//
// 1. Correct `color` not being inherited in IE 8/9/10/11.
// 2. Remove padding so people aren't caught out if they zero out fieldsets.
//

legend {
  border: 0; // 1
  padding: 0; // 2
}

//
// Remove default vertical scrollbar in IE 8/9/10/11.
//

textarea {
  overflow: auto;
}

//
// Don't inherit the `font-weight` (applied by a rule above).
// NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
//

optgroup {
  font-weight: bold;
}

// Tables
// ==========================================================================

//
// Remove most spacing between table cells.

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


// Fullscreen style
// ==========================================================================

#fullscreen {
  border: 3px solid #c99;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #CC9999;
  padding: 0 10px 5px;
  /*
      it is recommended to explicitly set 'color' and 'background-color' properties for "fullscreened" object,
      because otherwise Opera will use default styles "background-color: #000000; color: #fffff;".
   */
  background: #fafafa;
  color: inherit;
}