/* define your cycle style here */
.cycle {
	position:relative;
	overflow: hidden;
	border-radius: 100%;
}

.cycle-concentr-a{
	border: 1px solid #bed5d4;
	overflow: hidden;
	width: 99px;
	height: 99px;
}

.cycle-concentr-b{
	overflow: hidden;
    width: 90px;
	height: 90px;
	margin: 4px auto;
}

.cycle-sm{
	width: 90px;
	height: 90px;
}
.cycle-md{
	width: 100px;
	height: 100px;
}

.cycle-sp{
	width: 130px;
	height: 130px;
}

.cycle-lg{
	width: 210px;
	height: 210px;
}

.c302{
	background-color: #ff0000;
	width: 90px;
	height: 90px;
	margin: -45px 0 0 -45px;
}

.c301{
	overflow: hidden;
	border: 1px solid #bed5d4;
	width: 99px;
	height: 99px;
	margin: -50px 0 0 -50px;
}

.nor{
	top: 50%;
	left: 50%;
	position:absolute;
	border-radius: 100%;
}


/* define your bg style here */

.bg1c{background-color: #1c2528;}
.bg69{background-color: #696865;}
.bgff{background-color: #ffffff;}
.bgf7{background-color: #f7f7f7;}
.bdbdot{ border-bottom: 1px dotted #000000;}

/* define your other style here */

.caret {
	border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}