.randomplate{
	position: relative;
	width: 100%;
	height: 100%;
	//padding-bottom: 45px;
	//min-height: 768px;
}

.svgwraper{
	position: fixed;
	overflow: hidden;
	top: 68px;

   /*
    @media only screen and (orientation: portrait) {
       max-height: 632px;
	}
	*/

	left: 0;
	right: 0;
	bottom: 0;
	
	background-image: url('../images/taiwanmap/taiwanmap_bg.png');
	background-repeat: repeat;

	@media only screen and (device-width : 768px) and (device-height : 1024px) and (orientation:portrait) {
	  max-height: 956px;
	}

	@media only screen and (device-width : 768px) and (device-height : 1024px) and (orientation:landscape) {
	  max-height: 700px;
	}


	@media all and (device-width : 375px) and (device-height : 667px) and (orientation:portrait) {
	  max-height: 599px;
	}

	@media all and (device-width : 375px) and (device-height : 667px) and (orientation:landscape) {
	  max-height: 307px;
	}

	@media all and (device-width : 540px) and (device-height : 960px) and (orientation:portrait) {
	  max-height: 892px;
	}

	@media all and (device-width : 540px) and (device-height : 960px) and (orientation:landscape) {
	  max-height: 472px;
	}

	@media all and (device-width : 320px) and (device-height : 568px) and (orientation:portrait) {
	  max-height: 500px;
	}

	@media all and (device-width : 320px) and (device-height : 568px) and (orientation:landscape) {
	  max-height: 252px;
	}

	@media all and (device-width : 320px) and (device-height : 480px) and (orientation:portrait) {
	  max-height: 412px;
	}

	@media all and (device-width : 320px) and (device-height : 480px) and (orientation:landscape) {
	  max-height: 252px;
	}


}

.twMap{
	position: absolute;
	overflow: hidden;
	top: 0px;
	padding-top: 99px;
}


.tw-map-wraper{
	position: relative;
	overflow: hidden;
	background-image: url('../images/taiwanmap/taiwanmap_bg.png');
	background-repeat: repeat;

	.svgbody{
		position: relative;
  		//@include clearfix();
	}

}

#Cities .cityArea{
	opacity: 1;
	display: block;
	@extend %transition-opacity;

	&.select{
		opacity:0;

	}

	&:hover{
		fill: #bed5d4;
	}
}

.cityDistrict .districtArea{

	&:hover{
		fill: #bed5d4;
	}

}

.cityNameFlag{
	position: absolute;
	font-family: "NotoSansCJKtc Normal";
	font-size: 1rem;
	line-height: 1.5; /* 24px */
	color: #1c2528;
	z-index: 1200;
	@include text-shadow(#e5ebeb -1px -1px 0, #e5ebeb  1px -1px 0, #e5ebeb  -1px 1px 0, #e5ebeb  1px 1px 0);
}

