.editAlbumTbl{
	position: relative;

	.btn-close{
		margin-top: -80px;
		margin-left: 10px;
	}
}
	.tbl-col-pics{
		position: relative;
		display: inline-block;
		width: 100px;
		height: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.tbl-pic-item, .icon-albumCoverSelected{
		position: absolute;
		top: 0;
		left: 0;
	}

	.icon-albumCoverSelected{
		display: none;
		background-color: rgba(#ffffff, 0.8);
		&.active{
			display: block;
		}
	}

	.coverSquare{
		position: absolute;
		top: 0px;
		right: 190px;
	}

	.tbl-lanel{
		display: block;
		padding-top: 3px;
		float: left;
		width: 200px;
	}

	.tbl-controll{
		display: block;
		float: left;
		margin-left: 10px;
		width: 555px;
		text-align: left;
	}

	.tbl-controll-up{
		display: block;
		width: 960px;
	}

	.tbl-controll-c{
		
	}

	.tbl-wraper{
		min-height: 36px;
	}

	.tbl-goolemap{
		max-height: 450px;
		height: 450px;
		overflow: hidden;
	}

	.tbl-remider{
		margin-top: 5px;

		.icon-reminder, .reminder ,.icon-tick-green{
			float: left;
			vertical-align: middle;
		}

		.icon-reminder, .icon-tick-green{
			margin-top: 3px;
			margin-right: 5px;
		}

		.chceck{
			font-family: "NotoSansCJKtc Regular";
			font-weight: $regular;
			color: #1fbb47;
			@include font-size(14px);
		}

		.reminder{
			font-family: "NotoSansCJKtc Normal";
			font-weight: $normal;
			color: #ff4a2c;
			@include font-size(14px);
		}
	}

	.tbl-text-lg, .tbl-text-md, .tbl-text-m, .tbl-text-sm, .tbl-text-lmd{
		height: 30px;
		border: 1px solid #696865;
		background-color: #ffffff;
		font-family: "NotoSansCJKtc Normal";
		font-size: 16px;
		color: #1c2528;
	}

	.tbl-text-lg{
		padding-left: 10px;
		width: 545px;
	}

	.tbl-text-lmd{
		padding-left: 10px;
		width: 440px;
	}

	.tbl-text-md{
		padding-left: 10px;
		width: 340px;
	}

	.tbl-text-m{
		padding-left: 10px;
		width: 210px;
	}

	.tbl-text-sm{
		width: 200px;
		padding-left: 10px;
	}

	.tbl-upload-panel{
		position: relative;
		overflow-y: scroll;
		width: 720px;
		height: 350px;
		background-color: #f7f7f7;
		border: 1px dashed #696865;

		.uploadEmtyBox{
			position: relative;
			width: 160px;
			height: 105px;
			margin: 110px auto;

			p{
				opacity: 0.3;
			}
		}

		.icon-lowerrightTri{
			cursor: pointer;
			position: absolute;
			right: 5px;
			bottom: 5px;
		}

		.uploadArea{
			position: absolute;
			text-align: left;
			padding: 10px;
			top: 0;
			left: 0;
		}
	}
	.tbl-dropbox-xlg, .tbl-dropbox-lg, .tbl-dropbox-md, .tbl-dropbox-sm, .tbl-dropbox-xsm{
		.label{
			position: absolute;
			top: 1px;
			right: 0px;
			width: 25px;
			height: 29px;
			background-color: #ffffff;
			pointer-events : none;
		}
	}

	.tbl-dropbox-xlg{
		position: relative;
		display: inline-block;
		vertical-align: middle;	
		width: 430px;
		height: 30px;
		border: 1px solid #696865;
		background-color: #ffffff;

		select{
			padding-left:8px;
			width: 430px;
			height: 30px;
			background-color: #f7f7f7;
			color: #1c2528;
			font-family: "NotoSansCJKtc Normal";
			font-size: 16px;
			border: 0px;
			-moz-appearance: window;
	  		-webkit-appearance: none;
			text-indent: 0.01px;
			text-overflow: '';
			background-color: transparent;

			&:disabled{
				color: #e5ebeb;
			}
		}

		&::before,
		&::after {
			position: absolute;
			pointer-events: none;
		}

		&::before{
			width: 430px;
			height: 1px;
			right: 0;
			bottom: -4px;
			background-color: #bed5d5;
		}

		&::after{
			content: "\25BC";
			font-size: 16px;
			color: #1c2528;
			top: 5px;
			right: 10px;
		}
	}

	.tbl-dropbox-lg{
		position: relative;
		display: inline-block;
		vertical-align: middle;	
		width: 350px;
		height: 30px;
		border: 1px solid #696865;
		background-color: #ffffff;

		select{
			padding-left:8px;
			width: 350px;
			height: 30px;
			background-color: #f7f7f7;
			color: #1c2528;
			font-family: "NotoSansCJKtc Normal";
			font-size: 16px;
			border: 0px;
			-moz-appearance: window;
	  		-webkit-appearance: none;
			text-indent: 0.01px;
			text-overflow: '';
			background-color: transparent;
		}

		&::before,
		&::after {
			position: absolute;
			pointer-events: none;
		}

		&::before{
			width: 350px;
			height: 1px;
			right: 0;
			bottom: -4px;
			background-color: #bed5d5;
		}

		&::after{
			content: "\25BC";
			font-size: 16px;
			color: #1c2528;
			top: 5px;
			right: 10px;
		}
	}


	.tbl-dropbox-md{
		position: relative;
		display: inline-block;
		vertical-align: middle;	
		width: 150px;
		height: 30px;
		border: 1px solid #696865;
		background-color: #ffffff;

		select{
			padding-left:8px;
			width: 150px;
			height: 30px;
			background-color: #f7f7f7;
			color: #1c2528;
			font-family: "NotoSansCJKtc Normal";
			font-size: 16px;
			border: 0px;
			-moz-appearance: window;
	  		-webkit-appearance: none;
			text-indent: 0.01px;
			text-overflow: '';
			background-color: transparent;
		}

		&::before,
		&::after {
			position: absolute;
			pointer-events: none;
		}

		&::before{
			width: 150px;
			height: 1px;
			right: 0;
			bottom: -4px;
			background-color: #bed5d5;
		}

		&::after{
			content: "\25BC";
			font-size: 16px;
			color: #1c2528;
			top: 5px;
			right: 10px;
		}
	}


	.tbl-dropbox-sm{
		position: relative;
		display: inline-block;
		vertical-align: middle;	
		width: 80px;
		height: 30px;
		border: 1px solid #696865;
		background-color: #ffffff;

		select{
			padding-left:8px;
			width: 80px;
			height: 30px;
			background-color: #f7f7f7;
			color: #1c2528;
			font-family: "NotoSansCJKtc Normal";
			font-size: 16px;
			border: 0px;
			-moz-appearance: window;
	  		-webkit-appearance: none;
			text-indent: 0.01px;
			text-overflow: '';
			background-color: transparent;
		}

		&::before,
		&::after {
			position: absolute;
			pointer-events: none;
		}

		&::before{
			width: 80px;
			height: 1px;
			right: 0;
			bottom: -4px;
			background-color: #bed5d5;
		}

		&::after{
			content: "\25BC";
			font-size: 16px;
			color: #1c2528;
			top: 4px;
			right: 10px;
		}
	}

	.tbl-dropbox-xsm{
		position: relative;
		display: inline-block;
		vertical-align: middle;	
		width: 65px;
		height: 30px;
		border: 1px solid #696865;
		background-color: #ffffff;

		select{
			padding-left:8px;
			width: 65px;
			height: 30px;
			background-color: #f7f7f7;
			color: #1c2528;
			font-family: "NotoSansCJKtc Normal";
			font-size: 16px;
			border: 0px;
			-moz-appearance: window;
	  		-webkit-appearance: none;
			text-indent: 0.01px;
			text-overflow: '';
			background-color: transparent;
		}

		&::before,
		&::after {
			position: absolute;
			pointer-events: none;
		}

		&::before{
			width: 65px;
			height: 1px;
			right: 0;
			bottom: -4px;
			background-color: #bed5d5;
		}

		&::after{
			content: "\25BC";
			font-size: 16px;
			color: #1c2528;
			top: 5px;
			right: 10px;
		}
	}

	.tbl-textarea-lg{
		position: relative;
		width: 555px;
		height: 180px;
		border: 1px solid #696865;
		padding-top: 5px;
		padding-left: 5px;
	}

	.leftBottom{
		background-color: #e5ebeb;
		-moz-boder-radius: 4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		display: inline-block;
		cursor: pointer;
		color: #4a4a4a;
		font-family: "NotoSansCJKtc Normal";
		font-size: 16px;
		padding: 14px 36px 12px 36px;
		text-decoration: none;
		text-align: center;

		&:hover{
			background-color:#e1e6e6;
		}

		&.disabled{
			cursor: not-allowed;
			background-color: #e5ebeb;
			color: #e5ebeb;
		}

		&.disabled:hover{
			background-color: #e5ebeb;
			color: #e5ebeb;
		}
	}

	.rightBottom{
		background-color: #ff4c2c;
		-moz-boder-radius: 4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-family: "NotoSansCJKtc Normal";
		font-size: 16px;
		padding: 14px 36px 12px 36px;
		text-decoration: none;
		text-align: center;

		&:hover{
			background-color:#f2462c;
		}

		&.disabled{
			cursor: not-allowed;
			background-color: #fafcfc;
			color: #e5ebeb;
		}

		&.disabled:hover{
			background-color: #fafcfc;
			color: #e5ebeb;
		}
	}

	.choosefrompc{
		padding: 2px 6px 0 6px;
		width: 100px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin-left: 117px;
	}

	.chooseAvatar{
		padding: 0px;
		width: 90px;
		height: 40px;
	}


	.createAlbum{
		padding: 2px 6px 0 6px;
		width: 76px;
		height: 30px;
	}

	.onoffswitch {
	    position: relative; 
	    width: 80px;
	    -webkit-user-select:none; 
	    -moz-user-select:none; 
	    -ms-user-select: none;
	}
	.onoffswitch-checkbox {
	    display: none;
	}
	.onoffswitch-label {
	    display: block; 
	    overflow: hidden; 
	    cursor: pointer;
	    /*border: 2px solid #999999; */
	    border-radius: 20px;
	}
	.onoffswitch-inner {
	    display: block; 
	    width: 200%; 
	    margin-left: -100%;
	    -moz-transition: margin 0.3s ease-in 0s; 
	    -webkit-transition: margin 0.3s ease-in 0s;
	    -o-transition: margin 0.3s ease-in 0s; 
	    transition: margin 0.3s ease-in 0s;
	}
	.onoffswitch-inner:before, .onoffswitch-inner:after {
	    display: block; 
	    float: left;
	    width: 50%;
	    height: 30px; 
	    padding: 0; 
	    line-height: 30px;

	    font-size: 14px; 
	    color: white; 
	    font-family: "NotoSansCJKtc Normal" , Trebuchet, Arial, sans-serif;
	    font-weight: bold;
	    -moz-box-sizing: border-box; 
	    -webkit-box-sizing: border-box; 
	    box-sizing: border-box;
	}
	.onoffswitch-inner:before {
	    content: "公開";
	    text-align:left;
	    padding-left: 20px;
	    background-color: #ff4a2c; 
	    color: #FFFFFF;
	}
	.onoffswitch-inner:after {
	    content: "隱藏";
	    padding-right: 20px;
	    background-color: #e5ebeb; color: #696865;
	    text-align: right;
	}
	.onoffswitch-switch {
	    display: block; width: 19px; margin: 5.5px;
	    background: #FFFFFF;
	    border-radius: 20px;
	    position: absolute; top: 0; bottom: 0; right: 50px;
	    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	    margin-left: 0;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	    right: 0px; 
	}

	.pagination {
	    //background: #555555;
	    padding: 20px;
	    margin-bottom: 10px;
		width: 280px;
	

		.page {
		    display: inline-block;
		    padding: 0px 9px;
		    border-right: solid 1px #bed5d4;
		    background: #e5ebeb;
		    font-family: "NotoSansCJKtc Normal";
		    font-size: 14px;
		    font-weight: normal;
		    text-decoration: none;
		    color: #717171;
		   }

		.page:hover, .page.gradient:hover {
		    background: #81cec5;
		   }

		.page.active {
		    border: none;
		    background: #81cec5;
		    //box-shadow: inset 0px 0px 8px rgba(0,0,0, .1), 0px 1px 0px rgba(255,255,255, .8);
		    color: #f0f0f0;
		    //text-shadow: 0px 0px 3px rgba(0,0,0, .5);
		}

		.page.gradient {
		    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
		    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
		}
		.page.pre{
		  margin-right:20px;
		  border-radius: 3px;
		}
		.pre:before {
		    color:#696865;
		    padding: 1px 10px 1px 10px;
		    font-size:10px;
		    content:"\25C0";
		}
		.page.next{
		  margin-left:20px;
		  border-radius: 3px;

		}
		.next:before {
		    color:#696865;
		    padding: 1px 10px 1px 10px;
		    font-size:10px;
		    content:"\25B6";
		}
		.first{
		  -webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		  border-right: solid 1px #bed5d4;
		}

		.last{
		  -webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		  border: none
		}

	}

	.fileItem{
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 60px;

		&.disabled{
			.file-pic-wraper:hover .file-control{
				bottom: -30px;
			}

		}

		.file-pic-wraper{
			position: relative;
			overflow: hidden;
			width: 110px;
			height: 100px;
			padding-top: 10px;
			background-color: white;

			.file-pic{
				height: 90px;
				overflow: hidden;
			}

			img{
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.file-control{
			position: relative;
			width: 110px;
			height: 30px;
			background-color: rgba(#ffffff, 0.9);
			left: 0;
			bottom: -30px;
			@extend %transition-bottom;
		}

		.file-pic-wraper:hover .file-control{
			bottom: 30px;
		}


		.file-desc, {
			position: absolute;	
		}

		.file-desc-txt{
			width: 110px;
			height: 40px;
			word-wrap: break-word; 
  			word-break: normal;
  			text-overflow: ellipsis;
  			overflow: hidden;

  			p{
  				text-overflow: ellipsis;
  			}
		}

		.file-textarea{
			position: absolute;
			overflow-y: scroll;
			width: 100px;
			height: 120px;
			background-color: white;
			padding: 2px 4px 0 8px;
			border: 1px solid #e5ebeb;
			z-index: 99;
		}

		.file-status{
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			background-color: rgba(#ffffff, 0.8);
		}
	}

.tbl-period{
	cursor: pointer;
}


.file-name-box{
	width: 100px;
}
