// function
//////////////////////////////////////////////////


// Calculates the relative em (rem) value
// for a given pixel value
//
// @param {string} $size the pixel value to convert to rem (e.g. 14px)
@function calculateRem($size) {
	$rem-size: $size / 16px;
	@return $rem-size * 1rem;
}
 
// Mixins
//////////////////////////////////////////////////
 
// Generates a relative em (rem) font size value
// with a pixel value fallback
//
// @param {string} $size the pixel value to convert to rem (e.g. 14px)
@mixin font-size($size) {
	//font-size: $size;
	font-size: calculateRem($size);
}

@mixin line-height($size){
	line-height: calculateRem($size);
}

// %
////////////////////////////////////////////////////

%font-weight-nomal   {font-weight: $normal;}
%font-weight-medium  {font-weight: $medium;}
%font-weight-regular {font-weight: $regular;}
%font-weight-light   {font-weight: $light;}
%font-weight-bold    {font-weight: $bold;}

%color1   {font-weight: $normal;}
%font-weight-medium  {font-weight: $medium;}
%font-weight-regular {font-weight: $regular;}
%font-weight-light   {font-weight: $light;}
%font-weight-bold    {font-weight: $bold;}

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* These handle massive type, for less frequently occuring bits of text (e.g. in mastheads and banners).
----------------------------------------------------------------------------------------------------*/
.giga {
	@include font-size(80px);
	line-height: 1.2; /* 96px */
}
.mega {
	@include font-size(60px);
	line-height: 1.125; /* 72px */
}
.kilo {
	@include font-size(48px);
	line-height: 1; /* 48px */
}

.spacil {
	@include font-size(36px);
	line-height: 1.5; /* 24px */
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1,.h1, .alpha {
	@include font-size(30px);
	line-height: 1.5; /* 48px */
}
h2,.h2, .beta {
	@include font-size(24px);
	line-height: 1; /* 24px */
}
h3,.h3, .gamma {
	@include font-size(21px);
	line-height: 1.2; /* 24px */
}
h4, .h4, .delta {
	@include font-size(18px);
	line-height: 1.333; /* 24px */
}
h5, .h5, .epsilon {
	@include font-size(16px);
	line-height: 1.5; /* 24px */
}
h6, .h6, .zeta {
	@include font-size(14px);
	line-height: 1.5; /* 24px */
}

.qual{
	@include font-size(20px);
	line-height: 1.2; /* 24px */
}

.drolar{
	@include font-size(26px);
	line-height: 1; /* 24px */
}
 
/* Smaller-than-body-copy sizes here. 
----------------------------------------------------------------------------------------------------*/

.chular{
	@include font-size(13px);
	line-height: 1.84; /* 24px */
}

small, .milli {
	@include font-size(12px);
	line-height: 2; /* 24px */
}


/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	//margin-left: 30px;
}


p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	font-family: 'NotoSansCJKtc Normal';
	font-weight: $normal;
	//margin-bottom: 20px;
	//margin-bottom: 1.5rem;
}


/* enum
----------------------------------------------------------------------------------------------------*/
.m1c{font-weight: $medium; color: #1c2528; font-family: "NotoSansCJKtc Medium";}
.m69{font-weight: $medium; color: #696865; font-family: "NotoSansCJKtc Medium";}
.mff{font-weight: $medium; color: #ffffff; font-family: "NotoSansCJKtc Medium";}
.m93{font-weight: $medium; color: #93aaa9; font-family: "NotoSansCJKtc Medium";}
.m81{font-weight: $medium; color: #81cec6; font-family: "NotoSansCJKtc Medium";}
.mff4{font-weight: $normal; color: #ff4a2c; font-family: "NotoSansCJKtc Medium";}
.mffls2{font-weight: $medium; color: #ffffff; letter-spacing: 2px; font-family: "NotoSansCJKtc Medium";}
.m1clh24{font-weight: $medium; color: #1c2528;line-height:24px; font-family: "NotoSansCJKtc Medium";}
.m69lh24{font-weight: $medium; color: #696865;line-height:24px; font-family: "NotoSansCJKtc Medium";}
.mfflh24{font-weight: $medium; color: #ffffff;line-height:24px; font-family: "NotoSansCJKtc Medium";}
.m1clh30{font-weight: $medium; color: #1c2528;line-height:30px; font-family: "NotoSansCJKtc Medium";}
.m69lh30{font-weight: $medium; color: #696865;line-height:30px; font-family: "NotoSansCJKtc Medium";}
.mfflh30{font-weight: $medium; color: #ffffff;line-height:30px; font-family: "NotoSansCJKtc Medium";}
.m1clh36{font-weight: $medium; color: #1c2528;line-height:36px; font-family: "NotoSansCJKtc Medium";}
.m69lh36{font-weight: $medium; color: #696865;line-height:36px; font-family: "NotoSansCJKtc Medium"}
.mfflh30{font-weight: $medium; color: #ffffff;line-height:36px; font-family: "NotoSansCJKtc Medium";}
.m1clh48{font-weight: $medium; color: #1c2528;line-height:48px; font-family: "NotoSansCJKtc Medium";}
.m69lh48{font-weight: $medium; color: #696865;line-height:48px; font-family: "NotoSansCJKtc Medium";}
.mfflh48{font-weight: $medium; color: #ffffff;line-height:48px; font-family: "NotoSansCJKtc Medium";}
.mfflh48ls6{font-weight: $medium; color: #ffffff;line-height:48px;letter-spacing: 6px; font-family: "NotoSansCJKtc Medium";}
.mfflh72ls6{font-weight: $medium; color: #ffffff;line-height:72px;letter-spacing: 6px; font-family: "NotoSansCJKtc Medium";}
.mfflh32ls2{font-weight: $medium; color: #ffffff;line-height:32px; letter-spacing: 2px; font-family: "NotoSansCJKtc Medium";}

.l1c{font-weight: $light; color: #1c2528; font-family: "NotoSansCJKtc Light";}
.l69{font-weight: $light; color: #696865; font-family: "NotoSansCJKtc Light";}
.lff{font-weight: $light; color: #ffffff; font-family: "NotoSansCJKtc Light";}
.l1clh24{font-weight: $light; color: #1c2528; line-height:24px; font-family: "NotoSansCJKtc Light";}
.l69lh24{font-weight: $light; color: #696865; line-height:24px; font-family: "NotoSansCJKtc Light";}
.lfflh24{font-weight: $light; color: #ffffff; line-height:24px; font-family: "NotoSansCJKtc Light";}
.l1clh30{font-weight: $light; color: #1c2528; line-height:30px; font-family: "NotoSansCJKtc Light";}
.l69lh30{font-weight: $light; color: #696865; line-height:30px; font-family: "NotoSansCJKtc Light";}
.lfflh30{font-weight: $light; color: #ffffff; line-height:30px; font-family: "NotoSansCJKtc Light";}
.l1clh36{font-weight: $light; color: #1c2528; line-height:36px; font-family: "NotoSansCJKtc Light";}
.l69lh36{font-weight: $light; color: #696865; line-height:36px; font-family: "NotoSansCJKtc Light";}
.lfflh36{font-weight: $light; color: #ffffff; line-height:36px; font-family: "NotoSansCJKtc Light";}
.l1clh48{font-weight: $light; color: #1c2528; line-height:48px; font-family: "NotoSansCJKtc Light";}
.l69lh48{font-weight: $light; color: #696865; line-height:48px; font-family: "NotoSansCJKtc Light";}
.lfflh48{font-weight: $light; color: #ffffff; line-height:48px; font-family: "NotoSansCJKtc Light";}
.l69lh60{font-weight: $light; color: #696865; line-height:60px; font-family: "NotoSansCJKtc Light";}

.n1c{font-weight: $normal; color: #1c2528; font-family: "NotoSansCJKtc Normal";}
.n69{font-weight: $normal; color: #696865; font-family: "NotoSansCJKtc Normal";}
.nff{font-weight: $normal; color: #ffffff; font-family: "NotoSansCJKtc Normal";}
.n93{font-weight: $normal; color: #93aaa9; font-family: "NotoSansCJKtc Normal";}
.nff4{font-weight: $normal; color: #ff4a2c; font-family: "NotoSansCJKtc Normal";}
.n84{font-weight: $normal; color: #84cec5; font-family: "NotoSansCJKtc Normal";}
.n1clh24{font-weight: $normal; color: #1c2528; line-height:24px; font-family: "NotoSansCJKtc Normal";}
.n69lh24{font-weight: $normal; color: #696865; line-height:24px; font-family: "NotoSansCJKtc Normal";}
.nfflh24{font-weight: $normal; color: #ffffff; line-height:24px; font-family: "NotoSansCJKtc Normal";}
.n93lh24{font-weight: $normal; color: #93aaa9; line-height:24px; font-family: "NotoSansCJKtc Normal";}
.n1clh30{font-weight: $normal; color: #1c2528; line-height:30px; font-family: "NotoSansCJKtc Normal";}
.n69lh30{font-weight: $normal; color: #696865; line-height:30px; font-family: "NotoSansCJKtc Normal";}
.nfflh30{font-weight: $normal; color: #ffffff; line-height:30px; font-family: "NotoSansCJKtc Normal";}
.n1clh36{font-weight: $normal; color: #1c2528; line-height:36px; font-family: "NotoSansCJKtc Normal";}
.n69lh36{font-weight: $normal; color: #696865; line-height:36px; font-family: "NotoSansCJKtc Normal";}
.nfflh36{font-weight: $normal; color: #ffffff; line-height:36px; font-family: "NotoSansCJKtc Normal";}
.n1clh48{font-weight: $normal; color: #1c2528; line-height:48px; font-family: "NotoSansCJKtc Normal";}
.n69lh48{font-weight: $normal; color: #696865; line-height:48px; font-family: "NotoSansCJKtc Normal";}
.nfflh48{font-weight: $normal; color: #ffffff; line-height:48px; font-family: "NotoSansCJKtc Normal";}

.b1c{font-weight: $bold; color: #1c2528; font-family: "NotoSansCJKtc Bold";}
.b69{font-weight: $bold; color: #696865; font-family: "NotoSansCJKtc Bold'";}
.bff{font-weight: $bold; color: #ffffff; font-family: "NotoSansCJKtc Bold";}
.bff4{font-weight: $bold; color: #ff4a2c; font-family: "NotoSansCJKtc Bold";}
.b1clh24{font-weight: $bold; color: #1c2528; line-height:24px; font-family: "NotoSansCJKtc Bold";}
.b69lh24{font-weight: $bold; color: #696865; line-height:24px; font-family: "NotoSansCJKtc Bold";}
.bfflh24{font-weight: $bold; color: #ffffff; line-height:24px; font-family: "NotoSansCJKtc Bold";}
.b1clh30{font-weight: $bold; color: #1c2528; line-height:30px; font-family: "NotoSansCJKtc Bold";}
.b69lh30{font-weight: $bold; color: #696865; line-height:30px; font-family: "NotoSansCJKtc Bold";}
.bfflh30{font-weight: $bold; color: #ffffff; line-height:30px; font-family: "NotoSansCJKtc Bold";}
.b1clh36{font-weight: $bold; color: #1c2528; line-height:36px; font-family: "NotoSansCJKtc Bold";}
.b69lh36{font-weight: $bold; color: #696865; line-height:36px; font-family: "NotoSansCJKtc Bold";}
.bfflh36{font-weight: $bold; color: #ffffff; line-height:36px; font-family: "NotoSansCJKtc Bold";}
.b1clh48{font-weight: $bold; color: #1c2528; line-height:48px; font-family: "NotoSansCJKtc Bold";}
.b69lh48{font-weight: $bold; color: #696865; line-height:48px; font-family: "NotoSansCJKtc Bold";}
.bfflh48{font-weight: $bold; color: #ffffff; line-height:48px; font-family: "NotoSansCJKtc Bold";}

.r1c{font-weight: $regular; color: #1c2528; font-family: "NotoSansCJKtc Regular";}
.r69{font-weight: $regular; color: #696865; font-family: "NotoSansCJKtc Regular";}
.rff{font-weight: $regular; color: #ffffff; font-family: "NotoSansCJKtc Regular";}
.r00{font-weight: $regular; color: #000000; font-family: "NotoSansCJKtc Regular";}
.rbe{font-weight: $regular; color: #bed5d4; font-family: "NotoSansCJKtc Regular";}
.r1clh24{font-weight: $regular; color: #1c2528; line-height:24px; font-family: "NotoSansCJKtc Regular";}
.r69lh24{font-weight: $regular; color: #696865; line-height:24px; font-family: "NotoSansCJKtc Regular";}
.rfflh24{font-weight: $regular; color: #ffffff; line-height:24px; font-family: "NotoSansCJKtc Regular";}
.r1clh30{font-weight: $regular; color: #1c2528; line-height:30px; font-family: "NotoSansCJKtc Regular";}
.r69lh30{font-weight: $regular; color: #696865; line-height:30px; font-family: "NotoSansCJKtc Regular";}
.rfflh30{font-weight: $regular; color: #ffffff; line-height:30px; font-family: "NotoSansCJKtc Regular";}
.r1clh36{font-weight: $regular; color: #1c2528; line-height:36px; font-family: "NotoSansCJKtc Regular";}
.r69lh36{font-weight: $regular; color: #696865; line-height:36px; font-family: "NotoSansCJKtc Regular";}
.rfflh36{font-weight: $regular; color: #ffffff; line-height:36px; font-family: "NotoSansCJKtc Regular";}
.r1clh48{font-weight: $regular; color: #1c2528; line-height:48px; font-family: "NotoSansCJKtc Regular";}
.r69lh48{font-weight: $regular; color: #696865; line-height:48px; font-family: "NotoSansCJKtc Regular";}
.rfflh48{font-weight: $regular; color: #ffffff; line-height:48px; font-family: "NotoSansCJKtc Regular";}
.r93lh24{font-weight: $regular; color: #93aaa9; line-height:24px; font-family: "NotoSansCJKtc Regular";}

.h1c{font-weight: $heavy; color: #1c2528;}

/* line height */
.lh22{@include line-height(22px);}
.lh23{@include line-height(23px);}
.lh24 {@include line-height(24px);}
.lh26 {@include line-height(26px);}
.lh30 {@include line-height(30px);}
.lh36 {@include line-height(36px);}
.lh38 {@include line-height(38px);}
.lh40 {@include line-height(40px);}
.lh42 {@include line-height(42px);}
.lh48 {@include line-height(48px);}
.lh60 {@include line-height(60px);}
.lh72 {@include line-height(72px);}
.lh96 {@include line-height(96px);}
.lh150{@include line-height(150px);}
.lh200{@include line-height(200px);}
.lh300{@include line-height(300px);}


/* letter-spacing */
.ls2{letter-spacing: 2px;}
.ls4{letter-spacing: 4px;}
.ls6{letter-spacing: 6px;}
.ls18{letter-spacing: 18px;}
.ls23{letter-spacing: 23px;}
.ls60{letter-spacing: 60px;}

/* text-align*/
.tac {text-align:center}
.tal {text-align:left;}
.tar {text-align:right;}

/* vertical-align */
.vat {vertical-align: top; }
.vam {vertical-align: middle; }
.vab {vertical-align: bottom; }

/* word-wrap: break-word */
.wwb{
  word-wrap: break-word; 
  word-break: normal;
}

/* text-overflow */
.tofelps{
	text-overflow: ellipsis;
}

/* text-decoration:underline*/
.tdu{
	text-decoration:underline;
}