// function
//////////////////////////////////////////////////


// Calculates the relative em (rem) value
// for a given pixel value
//
// @param {string} $size the pixel value to convert to rem (e.g. 14px)
@function calculateRem($size) {
	$rem-size: $size / 16px;
	@return $rem-size * 1rem;
}
 
// Mixins
//////////////////////////////////////////////////
 
// Generates a relative em (rem) font size value
// with a pixel value fallback
//
// @param {string} $size the pixel value to convert to rem (e.g. 14px)
@mixin font-size($size) {
	//font-size: $size;
	font-size: calculateRem($size);
}

@mixin line-height($size){
	line-height: calculateRem($size);
}

// %
////////////////////////////////////////////////////

%font-weight-nomal   {font-weight: $normal;}
%font-weight-medium  {font-weight: $medium;}
%font-weight-regular {font-weight: $regular;}
%font-weight-light   {font-weight: $light;}
%font-weight-bold    {font-weight: $bold;}

%color1   {font-weight: $normal;}
%font-weight-medium  {font-weight: $medium;}
%font-weight-regular {font-weight: $regular;}
%font-weight-light   {font-weight: $light;}
%font-weight-bold    {font-weight: $bold;}


// font-face
//////////////////////////////////////////////////// 
@include font-face("SourceHanSansTWHK",
					font-files("SourceHanSansTWHK/SourceHanSansTWHK-Bold.woff"), 
					"SourceHanSansTWHK/SourceHanSansTWHK-Bold.woff",
					bold,
					bold);

@include font-face("SourceHanSansTWHK",
					font-files("SourceHanSansTWHK/SourceHanSansTWHK-Medium.woff"), 
					"SourceHanSansTWHK/SourceHanSansTWHK-Medium.woff",
					medium, 
					medium);;
@include font-face("SourceHanSansTWHK",
					font-files("SourceHanSansTWHK/SourceHanSansTWHK-Normal.woff"), 
					"SourceHanSansTWHK/SourceHanSansTWHK-Normal.woff",
					normal, 
					normal);

/* Define your base text-level semantics here; most elements will inherit this. */

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
fieldset,
p,
table,
pre,
hr {
	font-weight: $normal;
	//margin-bottom: 24px;
	//margin-bottom: 1.5rem;
}

/* These handle massive type, for less frequently occuring bits of text (e.g. in mastheads and banners). */
.giga {
	@include font-size(80px);
	line-height: 1.2; /* 96px */
}
.mega {
	@include font-size(60px);
	line-height: 1.125; /* 72px */
}
.kilo {
	@include font-size(48px);
	line-height: 1; /* 48px */
}
 
/* Define headings and their associated classes here. */
h1,.h1, .alpha {
	@include font-size(30px);
	line-height: 1.5; /* 48px */
}
h2,.h2, .beta {
	@include font-size(24px);
	line-height: 1; /* 24px */
}
h3,.h3, .gamma {
	@include font-size(21px);
	line-height: 1.2; /* 24px */
}
h4, .h4, .delta {
	@include font-size(18px);
	line-height: 1.333; /* 24px */
}
h5, .h5, .epsilon {
	@include font-size(16px);
	line-height: 1.5; /* 24px */
}
h6, .h6, .zeta {
	@include font-size(14px);
	line-height: 1.5; /* 24px */
}
 
/* Smaller-than-body-copy sizes here. */
small, .milli {
	@include font-size(12px);
	line-height: 2; /* 24px */
}


/* font-weight color line-heigth letter-spacing here. */
.m1c{font-weight: $medium; color: #1c2528;}
.m69{font-weight: $medium; color: #696865;}
.mff{font-weight: $medium; color: #ffffff;}
.m93{font-weight: $medium; color: #93aaa9;}
.m81{font-weight: $medium; color: #81cec6;}
.mffls2{font-weight: $medium; color: #ffffff; letter-spacing: 2px;}
.m1clh24{font-weight: $medium; color: #1c2528;line-height:24px;}
.m69lh24{font-weight: $medium; color: #696865;line-height:24px;}
.mfflh24{font-weight: $medium; color: #ffffff;line-height:24px;}
.m1clh30{font-weight: $medium; color: #1c2528;line-height:30px;}
.m69lh30{font-weight: $medium; color: #696865;line-height:30px;}
.mfflh30{font-weight: $medium; color: #ffffff;line-height:30px;}
.m1clh36{font-weight: $medium; color: #1c2528;line-height:36px;}
.m69lh36{font-weight: $medium; color: #696865;line-height:36px;}
.mfflh30{font-weight: $medium; color: #ffffff;line-height:36px;}
.m1clh48{font-weight: $medium; color: #1c2528;line-height:48px;}
.m69lh48{font-weight: $medium; color: #696865;line-height:48px;}
.mfflh48{font-weight: $medium; color: #ffffff;line-height:48px;}
.mfflh48ls6{font-weight: $medium; color: #ffffff;line-height:48px;letter-spacing: 6px;}
.mfflh72ls6{font-weight: $medium; color: #ffffff;line-height:72px;letter-spacing: 6px;}
.mfflh32ls2{font-weight: $medium; color: #ffffff;line-height:32px; letter-spacing: 2px;}

.l1c{font-weight: $light; color: #1c2528;}
.l69{font-weight: $light; color: #696865;}
.lff{font-weight: $light; color: #ffffff;}
.l1clh24{font-weight: $light; color: #1c2528; line-height:24px;}
.l69lh24{font-weight: $light; color: #696865; line-height:24px;}
.lfflh24{font-weight: $light; color: #ffffff; line-height:24px;}
.l1clh30{font-weight: $light; color: #1c2528; line-height:30px;}
.l69lh30{font-weight: $light; color: #696865; line-height:30px;}
.lfflh30{font-weight: $light; color: #ffffff; line-height:30px;}
.l1clh36{font-weight: $light; color: #1c2528; line-height:36px;}
.l69lh36{font-weight: $light; color: #696865; line-height:36px;}
.lfflh36{font-weight: $light; color: #ffffff; line-height:36px;}
.l1clh48{font-weight: $light; color: #1c2528; line-height:48px;}
.l69lh48{font-weight: $light; color: #696865; line-height:48px;}
.lfflh48{font-weight: $light; color: #ffffff; line-height:48px;}
.l69lh60{font-weight: $light; color: #696865; line-height:60px;}

.n1c{font-weight: $normal; color: #1c2528;}
.n69{font-weight: $normal; color: #696865;}
.nff{font-weight: $normal; color: #ffffff;}
.n93{font-weight: $normal; color: #93aaa9;}
.nbe{font-weight: $normal; color: #bed5d4;}
.n1clh24{font-weight: $normal; color: #1c2528; line-height:24px;}
.n69lh24{font-weight: $normal; color: #696865; line-height:24px;}
.nfflh24{font-weight: $normal; color: #ffffff; line-height:24px;}
.n93lh24{font-weight: $normal; color: #93aaa9; line-height:24px;}
.n1clh30{font-weight: $normal; color: #1c2528; line-height:30px;}
.n69lh30{font-weight: $normal; color: #696865; line-height:30px;}
.nfflh30{font-weight: $normal; color: #ffffff; line-height:30px;}
.n1clh36{font-weight: $normal; color: #1c2528; line-height:36px;}
.n69lh36{font-weight: $normal; color: #696865; line-height:36px;}
.nfflh36{font-weight: $normal; color: #ffffff; line-height:36px;}
.n1clh48{font-weight: $normal; color: #1c2528; line-height:48px;}
.n69lh48{font-weight: $normal; color: #696865; line-height:48px;}
.nfflh48{font-weight: $normal; color: #ffffff; line-height:48px;}

.b1c{font-weight: $bold; color: #1c2528;}
.b69{font-weight: $bold; color: #696865;}
.bff{font-weight: $bold; color: #ffffff;}
.b1clh24{font-weight: $bold; color: #1c2528; line-height:24px;}
.b69lh24{font-weight: $bold; color: #696865; line-height:24px;}
.bfflh24{font-weight: $bold; color: #ffffff; line-height:24px;}
.b1clh30{font-weight: $bold; color: #1c2528; line-height:30px;}
.b69lh30{font-weight: $bold; color: #696865; line-height:30px;}
.bfflh30{font-weight: $bold; color: #ffffff; line-height:30px;}
.b1clh36{font-weight: $bold; color: #1c2528; line-height:36px;}
.b69lh36{font-weight: $bold; color: #696865; line-height:36px;}
.bfflh36{font-weight: $bold; color: #ffffff; line-height:36px;}
.b1clh48{font-weight: $bold; color: #1c2528; line-height:48px;}
.b69lh48{font-weight: $bold; color: #696865; line-height:48px;}
.bfflh48{font-weight: $bold; color: #ffffff; line-height:48px;}

.r1c{font-weight: $regular; color: #1c2528;}
.r69{font-weight: $regular; color: #696865;}
.rff{font-weight: $regular; color: #ffffff;}
.r1clh24{font-weight: $regular; color: #1c2528; line-height:24px;}
.r69lh24{font-weight: $regular; color: #696865; line-height:24px;}
.rfflh24{font-weight: $regular; color: #ffffff; line-height:24px;}
.r1clh30{font-weight: $regular; color: #1c2528; line-height:30px;}
.r69lh30{font-weight: $regular; color: #696865; line-height:30px;}
.rfflh30{font-weight: $regular; color: #ffffff; line-height:30px;}
.r1clh36{font-weight: $regular; color: #1c2528; line-height:36px;}
.r69lh36{font-weight: $regular; color: #696865; line-height:36px;}
.rfflh36{font-weight: $regular; color: #ffffff; line-height:36px;}
.r1clh48{font-weight: $regular; color: #1c2528; line-height:48px;}
.r69lh48{font-weight: $regular; color: #696865; line-height:48px;}
.rfflh48{font-weight: $regular; color: #ffffff; line-height:48px;}
.r93lh24{font-weight: $regular; color: #93aaa9; line-height:24px;}

.h1c{font-weight: $heavy; color: #1c2528;}

/* line height */
.lh18 {@include line-height(18px);}
.lh24 {@include line-height(24px);}
.lh30 {@include line-height(30px);}
.lh36 {@include line-height(36px);}
.lh42 {@include line-height(42px);}
.lh48 {@include line-height(48px);}
.lh72 {@include line-height(72px);}
.lh150{@include line-height(150px);}
.lh300{@include line-height(300px);}


/* letter-spacing */
.ls2{letter-spacing: 2px;}
.ls6{letter-spacing: 6px;}
.ls60{letter-spacing: 60px;}

/* text-align*/
.tac {text-align:center}
.tal {text-align:left;}
.tar {text-align:right;}

/* vertical-align */
.vat {vertical-align: top; }
.vam {vertical-align: middle; }
.vab {vertical-align: bottom; }

/* word-wrap: break-word */
.wwb{
  word-wrap: break-word; 
  word-break: normal;
}

/* text-overflow */
.tofelps{
	text-overflow: ellipsis;
}

/* text-decoration:underline*/
.tdu{
	text-decoration:underline;
}


