.box{
	position: relative;
	overflow: hidden;
}

//position
//size
//style
//room

.cl3z{
	width: 300px
	height: 300px;
	background-color: #ffffff;
}

.ur42{
	border: 1px solid #d5d5d5;
}

.ur43{
	border: 1px solid #d5d5d5;
}

.hgl{
	display:inline-block; 
	padding: 8px 10px;
	border: 1px solid #d5d5d5;
}

.juxtaposed-a{
	position: relative:
	float: left:
	padding-left: 15px;
	padding-right: 15px;
}

.juxtaposed-b{
	position: relative;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.ddr{
	position: relative;
}

.ddt{
	@extend .ddr;
	display: inline-block;
}

.ddq{
	@extend .ddr;
	float: left;
}

.s101{
	@extend .ddq;
}

.s101, .s102{
	@extend .ddq;
	padding-left: 15px; 
	padding-right: 15px; 
	@include clearfix;
}

.s101{
	width: 220px; 
}

.s102{
	width: 350px ; 
}

.s103{
	@extend .ddt;
	padding: 30px 30px 30px 30px; 
	border: 1px dotted #bed5d4;
}

