//
// Utility classes
// --------------------------------------------------

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.fixed{
  position: fixed;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}

// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.pen {
  pointer-events: none;
}

.pea {
  pointer-events: auto;
}

/* word-spacing clear */
.wcs{
    font-size:0;/* 所有浏览器 */
    *word-spacing:-1px;/* IE6、7 */
}

/* cursor: pointer; */
.crsrp{
  cursor: pointer;
}
