//== Z-index master list
//
//==============================================================
$zindex-blockui:           1100 !default;
$zindex-lightbox:          1090 !default;
$zindex-navbar:            1040 !default;
$zindex-switch:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal:             1040 !default;
$zindex-dr-info-text:      1035 !default;

//== Media queries breakpoints
// Medium screen / desktop
//===============================================================
$screen-md:                  960 !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;
$screen-lg:                  1290px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;


//== font size and font weight
//
//===============================================================
$font-size-base:          16px !default;

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: normal; 
$regular: 400;
$medium: 500;
$demi-bold: 600;
$bold: 700;
$heavy: 800;
$black: 900;


//== line height
//
//===============================================================
$line-height-base: 1.428571429 !default; // 20/14
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px


//== grid parameter
//
//===============================================================
$grid-columns:              4 !default;
$grid-column-width:         300px !default;
$grid-gutter-width:         30px !default;




