//=mixin
//
//======================================================================
@mixin position($position, $args: ()) {
  $offsets: top right bottom left margin-left margin-right;
  position: $position;

  @each $offset in $offsets {
    $index: index($args, $offset);

    @if $index {
      @if $index == length($args) {
        #{$offset}: 0;
      }
      @else {
        $next: nth($args, $index + 1);
        @if is-valid-length($next) {
          #{$offset}: $next;
        }
        @else if index($offsets, $next) {
          #{$offset}: 0;
        }
        @else {
          @warn "Invalid value `#{$next}` for offset `#{$offset}`.";
        }
      }
    }
  }
}

@mixin absolute($args: ()) {
  @include position(absolute, $args);
}

@mixin fixed($args: ()) {
  @include position(fixed, $args);
}

@mixin relative($args: ()) {
  @include position(relative, $args);
}

.isLoaded{
  	background-image: url("/cyberisland/images/loading.gif");
  	background-repeat: no-repeat;
  	background-position: center;
}

// main wraper
//
// ==========================================================================
.main
{
	position: relative;
	padding-top: 96px;
	padding-bottom: 45px;
	font-size:0;/* 所有浏览器 */
    *word-spacing:-1px;/* IE6、7 */
    overflow: hidden;
    /*
    @media screen and (-webkit-min-device-pixel-ratio:0){
        letter-spacing:-5px;/* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节
    }*/

    &.formap{
    	top: 0;
    	left: 0;
    	bottom: 48px;
    	padding-top: 67px;
    }

    &.forhome{
    	padding-top: 0;
		//padding-bottom: 0;
    }
}




// = pager
//
// ===========================================================================

.pager {
	padding-top: 150px;
	padding-bottom: 60px;

	a {
    	padding-left : 10px;
		padding-right: 10px;
    }

	.current{
		font-family: "NotoSansCJKtc Bold";
		font-weight: $bold;
		font-size: 20px;
	}
}

// =
//
// ============================================================================
.content , .wraper{
	position: relative;
	overflow: hidden;
}

.media{
	.heading{
		position: absolute;
	}
}

.event{
  	max-height: 620px;
    overflow: hidden;
	@media only screen and (max-width:989px){
	  max-height: 420px;

	}

	@media only screen and (min-width:990px) and (max-width: 1319px){
	  max-height: 420px;
	}


  	&.isLoaded{
	  background-image: url("/cyberisland/images/loading.gif");
	  background-repeat: no-repeat;
	  background-position: center;

	  background-color: #f7f7f7;
	}

	img{
		width: 100%;
	}

	.category{
		bottom: 120px;
		left: 32px;
		line-height: 32px;
		border-bottom: 1px solid #ffffff ;
	}

	.title{
		bottom: 30px;
		left: 32px;
	}

  	&.tmpl{
	  	height: 620px;
		@media only screen and (max-width:989px){
		  max-height: 420px;

		}

		@media only screen and (min-width:990px) and (max-width: 1319px){
		  max-height: 420px;
		}
	}

}

.gototop{
	cursor:pointer;
	position:absolute;
	right: 15px;
	top: -46px;
}




.col-1:hover{
	.col-sm-mask-full{display:block;}
	.col-sm-like{display:block;}
	.col-sm-mask-focus{display:block;}
}

.col-sm-pics{
	position: relative;
	overflow: hidden;
  min-height: 200px;
  &.isLoaded{
     background-image: url("/cyberisland/images/loading_s.gif");
     background-repeat: no-repeat;
     background-position: center;
  }
}

.col-sm-mask-full{
	@include absolute(top 0 left 0px bottom 84px right 0px);
	overflow: hidden;
	display: none;
	background-color: rgba(#f7f7f7, 0.8);
	text-overflow: ellipsis;
	p {
	  overflow: hidden;
	  top: 92px;
	  bottom: 20px;
	  @include absolute(left 30px right 30px);
	}
}

.col-sm-mask-focus{
	@include absolute(top 75px left 75px bottom 74px right 75px);
	overflow: hidden;
	display: none;
	background-color: rgba(#e5ebeb, 0.8);
	text-overflow: ellipsis;
}

.col-sm-like{
	cursor: pointer;
	display: none;
	@include absolute(top 30px right 90px);
	@include transition-property(background-position);
	@include transition-duration(0.3s);

	p{
		margin-left: 28px;
	}
}

.col-lnk img{
	width: 300px;
	opacity: 0.8;

	&:hover{
		opacity: 1;
	}
}

.grid-sort-control{
	float: right;
	margin-top: -45px;
	margin-right: 15px;
}


.catalogue{
	@include absolute(top 99px);

	left: 50%;
	margin-left: -495px ;

	@media only screen and (max-width:989px){
       left: 50%;
	   margin-left: -495px ;
    }

    @media only screen and (min-width:990px) and (max-width: 1319px){
        left: 50%;
		margin-left: -495px ;
    }

    @media only screen and (min-width:1320px) {
        left: 50%;
		margin-left: -660px ;
    }
	font-size:0;/* 所有浏览器 */
    *word-spacing:-1px;/* IE6、7 */

    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(105,104,101,0.1);
    @include box-shadow(rgba(0,0,0,0.1) 0px 0px 10px);
}

.popupbkui{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $zindex-blockui;
}

.popupbkui-absl{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: $zindex-blockui;
}

.popupbg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(#e5ebeb,0.8);
}

.popup-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.pop-search{
	top: 200px;
	width: 410px;
	height: 308px;
	background-color: #f7f7f7;
}

.pop-alert{
	top: 320px;
	padding: 60px 60px 60px 60px;
	width: 350px;
}

.pop-pro{
	margin-top: 90px;
	width: 840px;
	padding: 60px 60px 45px 60px;
	background-color: #ffffff;

	.editMyinfo{
		position: absolute;
		top: 10px;
		left: 10px;
	}
}

.search-condi-box{
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	padding: 4px 4px 0 4px;

	&:last-child{
		margin-right: 0;
	}

	&.select{
		border: 1px solid #f7f7f7;
		background-color: #bed5d4
	}

	&.unselect{
		padding: 4px 4px 0 4px;
		border: 1px solid #bed5d4;
		background-color: #f7f7f7
	}
}

.search-result-pro{
	width: 110px;
	margin-right: 30px;
}

.block-ui{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	z-index: $zindex-lightbox;
}

.d2header{
	position: relative;
	width: 810px;
	margin-left: auto;
	margin-right: auto;
}
.d2citynm,.d2breif{
	display: inline-block;
	vertical-align: top;
}
.d2breif{
	margin-left: 30px;
	width: 630px;
}

.d2citynm{
	width: 150px;
}

.tw-map-wraper{
	background-color: white;
	@media only screen and (orientation: portrait) {
       max-height: 532px;
	}

	@media only screen and (orientation: landscape) {
       max-height: 532px;
	}
}


.citylst{
	overflow-x: hidden;
	position: relative;
	display: inline-block;
	min-height: 550px;
	z-index: 1000;
	background-color: #e5ebeb;
	border: 1px solid #bed5d4;
	min-height: 100px;

	.searchbox{
		input[type="text"]{
			float: right;
			margin-top: 12px;
			margin-right: 40px;
			width: 90px;
			height: 21px;
			border: 0 none;
			border-bottom: 1px solid #bed5d4;
			background-color: transparent;
			font-family: "NotoSansCJKtc Medium";
		    font-size: 16px;
		    font-weight: 500;
		    color: #696865;
		}
	}

	.cityname{
		margin-bottom: 12px;
		p{
			text-align: left;
			font-family: "NotoSansCJKtc Bold";
			font-weight: $bold;
			font-size: 20px;
		    color: #1c2528;
		}

	}

	.district{
		position: relative;
		min-height: 1px;
		text-align: left;
		.d{
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 10px;
		}

		p {
			font-family: "NotoSansCJKtc Normal";
			font-weight: $normal;
			font-size: 16px;
		    color: #1c2528;
		}
	}
}

.google-map-wraper{
	position: relative;
	overflow: hidden;
	width:100%;

	@media only screen and (max-width:989px){
		min-width: 990px;
	}

	@media only screen and (min-width:990px) and (max-width: 1319px){
		min-width: 990px;
	}

	@media only screen and (min-width:1320px){
		min-width: 1320px;
	}
}

.searchalbum-wraper{
	position: relative;
}

.searchAlbum-box{
	width: 210px;
	height: 34px;
	padding: 10px 15px 10px 30px;
	color: #696865;
	border: 0;
	background-color: transparent;
	border-bottom: 1px solid #696865;
}

.searchalbum-icom{
	position: absolute;
	top: 12px;
	left: 10px;
}

.col-bk-album{
	position: relative;
}

.col-bk-album:hover{
	.col-sm-title{
		background-color: white;
	}
}

.col-bk-album-set:hover{
	.col-bk-album-cntr.forSet{
		display: block;
	}
}

.col-bk-gridwaper{
	position: relative;
	overflow: hidden;
	width: 290px;
	height: 290px;
	margin: 5px auto;


	img{
		position: relative;
		float: left;
	}

	.layout2top{
		bottom: 140px;
	}

	.layout2botom{
		top: -135px;
	}

}

.col-bk-small-cntr{
	position: absolute;
	bottom: 15px;
	width: 100%;
}

.col-bk-album-cntr{
	position: relative;

	&.forSet{
		position: absolute;
		bottom: 0;
		display: none;
		width: 300px;
		height: 50px;
		background-color: rgba(#ffffff, 0.9);
	}

	.col-bk-cover {
		margin-top: 15px;
		margin-left: 15px;
		float: left;
	}

	.col-bk-edit {
		margin-top: 15px;
		margin-right: 15px;
		float: right;
	}
}

.col-bk-album-create:hover {
	p {
		color: #84cec5;
	}
}

.title-for-l3, .meta-for-l3 {
	&:hover{
		background-color: #ffffff;
	}
}

.meta-for-l3{
	display: block;

	display: -webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;

    overflow: hidden;
    word-wrap: break-word;
  	word-break: normal;

  	text-overflow: ellipsis;
	text-overflow: –o-ellipsis-lastline;

	width: 100%;
	height: 63px;

	p{
		overflow: hidden;
  		word-break: normal;
		text-overflow: ellipsis;
		text-overflow: –o-ellipsis-lastline;
		width: 100%;
	}
}


.bk-tutorial-wraper{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1041;
	min-width: 990px;
	.icon-infoArrowRight, .icon-infoArrowLeft{
		position: absolute;
		top: 65px;
	}
}

.tu-topleft-mask ,
.tu-topmiddle-mask,
.tu-topright-mask,
.tu-cntleft-mask,
.tu-cntmiddle-mask,
.tu-cntright-mask{
	background-color: rgba(#191919, 0.9);
}

.tu-topleft-mask,
.tu-topright-mask,
.tu-topmiddle-mask{
	position: absolute;
	top: 0;
	height: 60px;
	width:100%;
	//@include transition-property(width height);
	//@include transition-duration(0.3s);
}

.tu-topleft-mask{
	left: 0;
}

.tu-topright-mask{
	right: 0px;
}

.tu-cntleft-mask,
.tu-cntmiddle-mask,
.tu-cntright-mask {
	position: absolute;
	top:  60px;
	bottom: 0;
	width:100%;
	height:100%;
}

.tu-cntleft-mask{
	left: 0;
}

.tu-cntmiddle-mask,
.tu-cntright-mask{
	right: 0;
}

.tu-cntmiddle-mask.active{
	top: 163px;
}


.tu-content{
	position: absolute;
	top:  0px;
	left: 0;
	right: 0;
	bottom: 0
}

.tu-breif{
	position: relative;
	width: 770px;
	height: 115px;
	margin-top: 170px;
	margin-right: auto;
	margin-left: auto;
}

.tu-buttom-wraper{
	position: relative;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}

.tu-rightbuttom, .tu-leftbuttom{
	display: inline-block;
	cursor: pointer;

	p{
		line-height: 36px;
	}
}

.tu-leftbuttom {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	width: 105px;
	height: 36px;
	border: 2px solid #fff;
	background-color: #2f2f2f;

	&:hover{
		color: #ff4a2c;
	}

	&::before{
		content: '\25B2';
		font-size: 12px;
		color: #ffffff;
		position: absolute;
		left: 10px;
		top: 10px;
	}
}



.tu-rightbuttom{
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 150px;
	width: 105px;
	height: 36px;
	border: 2px solid #ff4a2c;
	background-color: #2f2f2f;

	&:hover{
		color: #de3418;
	}

	&::after{
		content: '\25BC';
		font-size: 12px;
		color: #ff4a2c;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	&.done{
		width: 220px;
		margin-left: 35px;
	}

	&.done::after{
		content: '\25B6';
	}
}


.citylstPage{
    position: absolute;
    top: 160px;

}


.mapContainer{
  height:100%;

  @media only screen and (device-width : 768px) and (device-height : 1024px) and (orientation:portrait) {
	max-height: 1024px;
  }

  @media only screen and (device-width : 768px) and (device-height : 1024px) and (orientation:landscape) {
	max-height: 768px;
  }

  @media all and (device-width : 375px) and (device-height : 667px) and (orientation:portrait) {
	max-height: 667px;
  }

  @media all and (device-width : 375px) and (device-height : 667px) and (orientation:landscape) {
	max-height: 375px;
  }

  @media all and (device-width : 540px) and (device-height : 960px) and (orientation:portrait) {
	max-height: 960px;
  }

  @media all and (device-width : 540px) and (device-height : 960px) and (orientation:landscape) {
	max-height: 540px;
  }

  @media all and (device-width : 320px) and (device-height : 568px) and (orientation:portrait) {
	max-height: 568px;
  }

  @media all and (device-width : 320px) and (device-height : 568px) and (orientation:landscape) {
	max-height: 320px;
  }

  @media all and (device-width : 320px) and (device-height : 480px) and (orientation:portrait) {
	max-height: 480px;
  }

  @media all and (device-width : 320px) and (device-height : 480px) and (orientation:landscape) {
	max-height: 320px;
  }

}


.evessay{

	.tmpl{
		height: 509px;
		@media only screen and (max-width:989px){
		   height: 384px;
		}

	   @media only screen and (min-width:990px) and (max-width: 1319px){
		   height: 384px;
	   }
	 }

  	.col-sm-context{
	  display: block;
	  max-height: 125px;
	  overflow: hidden;
	}

	.col-sm-meta{
	  padding-top: 10px;
	}

	@media only screen and (max-width:989px){
	  .col-sm-context{
		display: none;
	  }
	  .col-sm-meta{
		padding-top: 10px;
	  }

	}

	@media only screen and (min-width:990px) and (max-width: 1319px){
	  .col-sm-context{
		display: none;
	  }
	  .col-sm-meta{
		padding-top: 10px;
	  }
	}
}

//#################################################################
.s101{
	@include relative;
	float:left;
	padding-left: 15px;
	padding-right: 15px;
	width: 220px;
	@include clearfix;
}
.s102{
	@include relative;
	float:left;
	padding-left: 15px;
	padding-right: 15px;
	width: 350px ;
	@include clearfix;
}

.s103{
	@include relative;
	display: inline-block;
	padding: 30px 30px 30px 30px;
	border: 1px dotted #bed5d4;
}

.col-pics{
	@include relative;
	overflow: hidden;
	width: $grid-column-width ;


	&:hover {
		.mask{
			//display: block;
			display: table;

			p{
				height: 300px;
				display: table-cell;
			    position: relative;
			    text-align: center;
			    vertical-align: middle;
			}
		}

		.mask-helf{
			background-color: rgba(#f7f7f7,1);
		}

	}
}

.col-sm-title{

  p{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
}


.forC12{

  span{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
}


.pro-albumset,.pro-albumset img {
	//width: 300px;
	//height: 300px;
}

.pro-albumset{
	overflow: hidden;

	&:hover{
		img {opacity: 0.7}
	}
}


.pro-albumset img {
	//position: absolute;
}

.pro_album img{
	position: absolute;
	width: 300px;
	opacity: 0;

    top: 50%;
    @include transform(translate(0, -50%));

	@include transition-property(opacity);
	@include transition-duration(0.9s);
	@include backface-visibility(hidden);

	&.active{
		opacity: 1;
		@include backface-visibility(hidden);
	}
}

.pro_album{
	width: 300px;
	height: 200px;
	overflow: hidden;
}


.col-pics-fixd{
	@extend .col-pics;
	min-height: 200px;
	max-height: 300px;
}


.mask{
	@include absolute(top 0 left 0);
	background-color: rgba(#f7f7f7,0.8);
	display: none;
	width: 100%;
	height: 100%;

	p{
		max-width: 270px;
		height: 100%;
		word-break: break-word;
		margin-left: 30px;

	}
}

.mask-helf{
	@include absolute(top 75px left 75px);
	width: 50%;
	height: 50%;
	background-color: rgba(#f7f7f7,0.9);

	display: table;

	p{
		width: 130px;
		padding-left: 10px;
		height: 150px;
		display: table-cell;
	    position: relative;
	    text-align: center;
	    vertical-align: middle;
	}

}


.evt{
	@include relative;
	width: 100%;
	max-height: 620px;
	height: auto;
	overflow: hidden;
}

.pager {
	padding-top: 150px;
	padding-bottom: 60px;
	text-align: center;

	.current{
		font-family: "NotoSansCJKtc Bold";
		font-weight: $bold;
		font-size: 20px;
	}
}

.asb105l32{
	@include absolute(bottom 105px left 32px);
}

.asb30l32{
	@include absolute(bottom 30px left 32px);
}

//border
.brb1ff{
	border-bottom: 1px solid #ffffff;
}

.brb169{
	border-bottom: 1px solid #696865;
}

.brdote69{
	border: 1px solid #696865;
}

.bx300{
	position: relative;
	display: inline-block;
	padding: 30px  30px 30px 30px;
	border: 1px dotted #bed5d4;
}

.bx630{
	@include relative;
	margin: 0 auto;
	width: 630px;
}



.hglsdg{
	position: relative;
	display:inline-block;
	background-color:#bed5d4;
	padding: 8px 10px;
}

.cl3zru2 {
	width: 300px;
	height: 300px;
	background-color: #ffffff;
}

.cl3zru3{
	width: 300px;
	height: 300px;
	background-color: #ffffff;
	border: 1px solid #d5d5d5;
}

.jrul4w6{

}
