/*----------------------------------------
  Family: [family name]
  Weights: 400=reg, 600=Medium, 900=Bold 300=light
=========================================*/

@font-face {
    font-family:"NotoSansCJKtc Regular";
    src:local("NotoSansCJKtc Regular"),
        url(data:font/opentype;base64,[paste-here-baby]);
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:"NotoSansCJKtc Medium";
    src:local("NotoSansCJKtc Medium"),
        url(data:font/opentype;base64,[paste-here-baby]);
    font-style:normal;
    font-weight:600;
}

@font-face {
    font-family:"NotoSansCJKtc Bold";
    src:local("NotoSansCJKtc Bold"),
        url(data:font/opentype;base64,[paste-here-baby]);
    font-style:normal;
    font-weight:900;
}

@font-face {
    font-family:"NotoSansCJKtc Light";
    src:local("NotoSansCJKtc Light"),
        url(data:font/opentype;base64,[paste-here-baby]);
    font-style:normal;
    font-weight:300;
}
