<div class="container pop-editCollection tac mgt100">
	<div class="row">
		<div class="col-3 bgff">
			<div class="btn btn-close">
		  	 	<div><img alt="m" src="/cyberisland/images/taiwanmap/btn_indexClose.png"></div>
		  	</div>
			<div class="editAlbumTbl pdb60">
				<div class="row mgt45">
					<p class="epsilon n1c tac">選擇要移入的相簿</p>
				</div>
				<div class="row mgt30">
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected active"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
				</div>
				<div class="row mgt35">
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="pagination center">
						<a href="#" class="page gradient pre"></a>
				    	<a href="#" class="page gradient first">2</a><a href="#" class=
						"page gradient">3</a><span class=
						"page active">4</span><a href="#" class=
						"page gradient">5</a><a href="#" class=
						"page gradient last">6</a><a href="#" class=
						"page gradient next"></a>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"></div>
					<div class="tbl-controll">
						<div class="tbl-wraper tac">
							<div class="rightBottom confirmBottom  dib mgr30">確認</div>
							<div class="leftBottom cancelBottom  dib">取消</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/cyberisland/javascripts/partials/addCollection.js"></script>