<section class="container catalogue">
    <div class="row pdt45">
        <div class="col-1 pdb45">
            <div>
                <h2 class="m1clh24">~1950</h2>
                <div class="mgt15">
                    <a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">鄧南光(1907-1971)</a>
                </div>
                <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">張　才(1916-1994)</a></div>
                <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">王双全(1920-1978)</a></div>
                <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">張新裕(1926-2007)</a></div>
                <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">周鑫泉(1931-)</a></div>
                <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">謝明順(1939-)</a></div>
                <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">林芙美(1941-)</a></div>
                <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">陳丁林(1948-)</a></div>
                <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">林新欽(1948-)</a></div>
                <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">陳碧岩(1950-)</a></div>
            </div>
        </div><!-- col-1 -->
        <div class="col-1 pdb45">
            <h2 class="m1clh24">1951~1960</h2>
            <div class="mgt15"><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">全會華(1953-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">呂良遠(1954-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">蔡明德(1955-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">陳春祿(1956-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">鐘永和(1956-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">蔣載榮(1956-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">何經泰(1956-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">楊永智(1956-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">黃文博(1956-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">張國治(1957-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">謝三泰(1958-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">簡永彬(1958-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">章光和(1958-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">湯皇珍(1958-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">洪世聰(1959-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">黃子明(1960-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">林添福(1960-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">楊錦煌（楊佛頭Yangphoto）(1960-)</a></div>
        </div><!-- col-1 -->
        <div class="col-1 pdb45">
            <h2 class="m1clh24">1961~1970</h2>
            <div class="mgt15"><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">蔡文祥(1961-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">黃建亮(1962-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">王素滿(1962-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">謝岱成(1963-)</a></div>  
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">陳學聖(1963-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">周以武(1963-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">高修民(1965-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">袁廣鳴(1965-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">沈昭良(1968-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">姚瑞中(1969-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">金成財(1969-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">萬一一(1970-)</a></div>
        </div><!-- col-1 -->
        <div class="col-1 pdb45">
            <h2 class="m1clh24">1971~1980</h2>
            <div class="mgt15"><a class="epsilon r69lh24" href="#">黃仕傑(1973-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">郭慧禪(1976-)</a></div>
        </div><!-- col-1 -->
        <div class="col-1 pdb45">
            <h2 class="m1clh24">1981~1990</h2>
            <div class="mgt15"><a class="epsilon r69lh24" href="#">楊哲一(1981-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">張文瀚(1982-)</a></div>
            <div><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">邱垂龍(1983-)</a></div>
        </div><!-- col-1 -->
        <div class="col-1 pdb45">
            <h2 class="m1clh24">其他</h2>
            <div class="mgt15"><a class="epsilon r69lh24" href="/cyberisland/html/E/E05.html">郭志榮</a></div>
        </div><!-- col-1 -->
    </div><!-- row -->
</section><!-- container catalogue -->