<div class="container-fluid bk-tutorial-wraper">
	<div class="tu-topleft-mask hide"></div>
	<div class="tu-topright-mask hide"></div>
	<div class="tu-topmiddle-mask hide"></div>
	
	<div class="tu-cntleft-mask  "></div>
	<div class="tu-cntmiddle-mask"></div>
	<div class="tu-cntright-mask"></div>
	<div class="tu-content">
		<div class="container">
			<div class="tu-breif">
				<p class="beta lh36 nff tac">
					歡迎您成為數位島嶼的會員！<br>
					您可以由上面黑色底選單 及 反白的數位島嶼Logo 辨識成功登入會員站台</br>
					以下將有幾個步驟簡單帶您了解會員站台的操作</br>
				</p>
			</div>
			<div class="tu-buttom-wraper tac">
				 <div class="tu-leftbuttom hide"><p class="epsilon nff tac">上一步</p></div>
				 <div class="tu-rightbuttom"><p class="epsilon nff4 tac">下一步</p></div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="icon-infoArrowLeft hidden"></div>
		<div class="icon-infoArrowRight hidden"></div>
	</div>
</div>
<script src="/cyberisland/javascripts/partials/backendTutorial.js"></script>