<div class="popup-container pop-alert bgff">
	<div class="btn btn-close">
  	 	<div><img alt="m" src="/cyberisland/images/taiwanmap/btn_indexClose.png"></div>
  	</div>
    <p class="epsilon m69 tac mgb15">確定刪除此相簿(集)</p>
    <div class="tac">
    	<div class="btn btn-sm btn-primary btn-confirm mgr15 mgl15 dib"><p class="zeta n1c tac">刪除</p></div>
        <div class="btn btn-sm btn-default btn-cancel mgr15 mgl15 dib"><p class="zeta n69 tac">取消</p></div>
    </div>
</div>
<script src="/cyberisland/javascripts/partials/confirmWindow.js"></script>