<div class="container pop-editCollection tac mgt100">
	<div class="row">
		<div class="col-3 bgff">
			<div class="btn btn-close">
		  	 	<div><img alt="m" src="/cyberisland/images/taiwanmap/btn_indexClose.png"></div>
		  	</div>
			<div class="editAlbumTbl pdb60">
				<div class="row mgt45">
					<p class="epsilon n1c tac">選擇要加入的相簿</p>
				</div>
				<div class="row mgt30">
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected active"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
				</div>
				<div class="row mgt35">
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected active"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected"></div>
					</div>
					<div class="tbl-col-pics">
						<div class="tbl-pic-item">
							<img alt="m" src="/cyberisland/images/backend/img_photoEx_100x100.jpg">
						</div>
						<div class="icon-albumCoverSelected active"></div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="pagination center">
						<a href="#" class="page gradient pre"></a>
				    	<a href="#" class="page gradient first">2</a><a href="#" class=
						"page gradient">3</a><span class=
						"page active">4</span><a href="#" class=
						"page gradient">5</a><a href="#" class=
						"page gradient last">6</a><a href="#" class=
						"page gradient next"></a>
					</div>
				</div>
				<div class="row mgt90">
					<div class="tbl-lanel"><p class="epsilon n1c tar">相簿名稱</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-md" type="text" value="未命名" maxlength ="30" name="inputname">
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">字數限制為30字之內</p>
						</div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">標籤</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="ex: 台灣最美 夏天 風景" maxlength ="50" name="inputname">
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">請用空白鍵隔開關鍵字</p>
						</div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">關於相簿集</p></div>
					<div class="tbl-controll">
						<textarea class="tbl-textarea-lg" rows="3" cols="20" name="inputname">在w3school，你可以找到你所需要的所有的网站建设教程。</textarea>
						
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">字數限制為500字</p>
						</div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"></div>
					<div class="tbl-controll">
						<div class="tbl-wraper">
							<div class="icon-deleteCollection fll"></div>
							<div class="rightBottom confirmBottom  flr">確認</div>
							<div class="leftBottom cancelBottom  flr mgr20">取消</div>
						</div>
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">注意:刪除後將無法復原</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/cyberisland/javascripts/partials/editCollection.js"></script>