<div class="container pop-editAlbum tac mgt100">
	<div class="row">
		<div class="col-3 bgff">
			<div class="btn btn-close">
		  	 	<div><img alt="m" src="/cyberisland/images/taiwanmap/btn_indexClose.png"></div>
		  	</div>
			<div class="editAlbumTbl pdb60">
				<div class="row mgt90">
					<div class="tbl-lanel"><p class="epsilon n1c tar">相簿名稱</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-md" type="text" value="IMG_2928" maxlength ="30" name="inputname">
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">字數限制為30字之內</p>
						</div>
					</div>
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">所屬相簿</p></div>
					<div class="tbl-controll">
						<div class="tbl-dropbox-lg">
						    <select>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value=""><p class="epsilon n1c">美麗人生</p></option>
						    	<option value=""><p class="epsilon n1c">美麗人生</p></option>
						    </select><div class="label"></div>
						</div>
					</div>
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">比賽項目</p></div>
					<div class="tbl-controll">
						<div class="tbl-dropbox-lg">
						    <select>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value=""><p class="epsilon n1c">美麗人生</p></option>
						    	<option value=""><p class="epsilon n1c">美麗人生</p></option>
						    </select><div class="label"></div>
						</div>
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">欲參加攝影比賽者，請選擇比賽項目</p>
						</div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">標籤</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="ex: 台灣最美 夏天 風景" maxlength ="50" name="inputname">
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">請用空白鍵隔開關鍵字</p>
						</div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">照片敘述</p></div>
					<div class="tbl-controll">
						<textarea class="tbl-textarea-lg" rows="3" cols="20" name="inputname">在w3school，你可以找到你所需要的所有的网站建设教程。</textarea>
						
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">字數限制為500字</p>
						</div>
					</div>
				</div>
				<div class="row mgt60">
					<div class="tbl-lanel"></div>
					<div class="tbl-controll">
						<div class="tbl-wraper">
							<div class="icon-btn-deleteAlbum fll"></div>
							<div class="rightBottom confirmBottom  flr">確認</div>
							<div class="leftBottom cancelBottom  flr mgr20">取消</div>
						</div>
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">注意:刪除後將無法復原</p>
						</div>
					</div>
				</div>
				<div class="coverSquare img_nocoversSquare175x175"></div>
			</div>
		</div>
	</div>
</div>
<script src="/cyberisland/javascripts/partials/editAlbum.js"></script>