<div class="container pop-setting tac mgt100">
	<div class="row">
		<div class="col-3 bgff">
			<div class="btn btn-close">
		  	 	<div><img alt="m" src="/cyberisland/images/taiwanmap/btn_indexClose.png"></div>
		  	</div>
			<div class="editAlbumTbl pdb60">
				<div class="row mgt45">
					<p class="epsilon n1c tac">帳戶設定</p>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">個人大頭照</p></div>
					<div class="tbl-controll">
						<div class="cycle cycle-sp img-defaultMemberPic fll mgl10"></div>
						<div class="rightBottom chooseAvatar fll mgl80 mgt30"><p class="lh40 tac">選擇照片</p></div>
						<div class="leftBottom chooseAvatar fll mgl5 mgt30"><p class="lh40 tac">移除照片</p></div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">＊帳號</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="" maxlength ="30" name="inputname">
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">＊Email</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="" maxlength ="30" name="inputname">
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">＊備用Email</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="" maxlength ="30" name="inputname">
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">＊密碼</p></div>
					<div class="tbl-controll">
						<div class="tbl-wraper">
							<input class="tbl-text-sm fll" type="text" value="" maxlength ="30" name="inputname">
							<p class="epsilon n1c tar fll mgl30 mgt5">＊確認密碼</p>
							<input class="tbl-text-sm flr" type="text" value="" maxlength ="30" name="inputname">
						</div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">＊暱稱</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="" maxlength ="30" name="inputname">
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">顯示於網站的會員名稱</p>
						</div>
					</div>
					
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">＊真實姓名</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="" maxlength ="30" name="inputname">
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">＊聯絡電話</p></div>
					<div class="tbl-controll">
						<div class="tbl-wraper">
							<input class="tbl-text-sm fll" type="text" placeholder="輸入市內電話" maxlength ="20" name="inputname">
							<p class="epsilon n1c tar fll mgl65 mgt5">或</p>
							<input class="tbl-text-sm flr" type="text" placeholder="輸入手機" maxlength ="20" name="inputname">
						</div>
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">至少填寫ㄧ個電話</p>
						</div>
					</div>
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">＊地址</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="" maxlength ="30" name="inputname">
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">＊性別</p></div>
					<div class="tbl-controll">
						<div class="fll">
						 	<input type="radio" name="sex" value="male" class="dib">
						 	<p class="epsilon n1c tar dib mgl10">男性</p>
						</div>
						<div class="fll mgl40">
						 	<input type="radio" name="sex" value="female" class="dib">
						 	<p class="epsilon n1c tar dib mgl10">女性</p>
						</div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">出生日期</p></div>
					<div class="tbl-controll">
						<div class="tbl-dropbox-sm fll">
						    <select>
						    	<option value="1"><p class="epsilon n1c">2000</p></option>
						    	<option value="1"><p class="epsilon n1c">2000</p></option>
						    </select><div class="label"></div>
						</div>
						<p class="epsilon n1c tar fll mgl10 mgt5 mgr20">年</p>
						<div class="tbl-dropbox-xsm fll">
						    <select>
						    	<option value="1"><p class="epsilon n1c">01</p></option>
						    	<option value="1"><p class="epsilon n1c">01</p></option>
						    </select><div class="label"></div>
						</div>
						<p class="epsilon n1c tar fll mgl10 mgt5 mgr20">月</p>
						<div class="tbl-dropbox-xsm fll">
						    <select>
						    	<option value="1"><p class="epsilon n1c">01</p></option>
						    	<option value="1"><p class="epsilon n1c">01</p></option>
						    </select><div class="label"></div>
						</div>
						<p class="epsilon n1c tar fll mgl10 mgt5 mgr20">日</p>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">學歷</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="" maxlength ="30" name="inputname">
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">服務單位</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="" maxlength ="30" name="inputname">
					</div>
				</div>
				<div class="row mgt35 jgklsla"></div>
				<div class="row mgt45">
					<p class="epsilon n1c tac">站台設定</p>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">簡介</p></div>
					<div class="tbl-controll">
						<textarea class="tbl-textarea-lg" rows="3" cols="20" name="inputname">在w3school，你可以找到你所需要的所有的网站建设教程。</textarea>
						
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">字數限制為500字</p>
						</div>
					</div>
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">照片浮水印</p></div>
					<div class="tbl-controll">
						<div class="tbl-wraper">
							<div class="onoffswitch fll mgl5">
							    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
							    <label class="onoffswitch-label" for="myonoffswitch">
							        <span class="onoffswitch-inner"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
						</div>
					</div>
				</div>
				<div class="row mgt35 jgklslc center"></div>
				<div class="row mgt30">
					<div class="tbl-lanel"></div>
					<div class="tbl-controll">
						<div class="leftBottom cancelBottom fll mgl100">取消</div>
						<div class="rightBottom confirmBottom fll mgl70">確認</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/cyberisland/javascripts/partials/m01Setting.js"></script>