<div class="container pop-photoEdit tac mgt100">
	
	<div class="row">
		<div class="col-3 bgff">
			<div class="btn btn-close">
		  	 	<div><img alt="m" src="/cyberisland/images/taiwanmap/btn_indexClose.png"></div>
		  	</div>
			<div class="editAlbumTbl pdb60">
				<div class="row mgt90">
					<div class="tbl-lanel"><p class="epsilon n1c tar">相簿名稱</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-md" type="text" value="IMG_2928" maxlength ="30" name="inputname">
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">字數限制為30字之內</p>
						</div>
					</div>
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">所屬相簿</p></div>
					<div class="tbl-controll">
						<div class="tbl-dropbox-lg">
						    <select>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value=""><p class="epsilon n1c">美麗人生</p></option>
						    	<option value=""><p class="epsilon n1c">美麗人生</p></option>
						    </select>
						    <div class="label"></div>
						</div>
					</div>
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">比賽項目</p></div>
					<div class="tbl-controll">
						<div class="tbl-dropbox-lg">
						    <select>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value="1"><p class="epsilon n1c">美麗人生</p></option>
						    	<option value=""><p class="epsilon n1c">美麗人生</p></option>
						    	<option value=""><p class="epsilon n1c">美麗人生</p></option>
						    </select>
						    <div class="label"></div>
						</div>
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">欲參加攝影比賽者，請選擇比賽項目</p>
						</div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">標籤</p></div>
					<div class="tbl-controll">
						<input class="tbl-text-lg" type="text" value="ex: 台灣最美 夏天 風景" maxlength ="50"  name="inputname">
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">請用空白鍵隔開關鍵字</p>
						</div>
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"><p class="epsilon n1c tar">照片敘述</p></div>
					<div class="tbl-controll">
						<textarea class="tbl-textarea-lg" rows="3" cols="20" name="inputname">在w3school，你可以找到你所需要的所有的网站建设教程。</textarea>
						
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">字數限制為500字</p>
						</div>
					</div>
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">拍攝地點</p></div>
					<div class="tbl-controll">
						<div class="tbl-wraper">
							<div class="tbl-dropbox-md fll">
							    <select>
							    	<option value="1"><p class="epsilon n1c">縣市</p></option>
							    	<option value="1"><p class="epsilon n1c">臺北市</p></option>
							    	<option value="1"><p class="epsilon n1c">新北市</p></option>
							    	<option value=""><p class="epsilon n1c">高雄市</p></option>
							    	<option value=""><p class="epsilon n1c">臺中市</p></option>
							    </select>
							    <div class="label"></div>
							</div>
							<div class="tbl-dropbox-md fll mgl15">
							    <select>
							    	<option value="1"><p class="epsilon n1c">地區</p></option>
							    	<option value="1"><p class="epsilon n1c">臺北市</p></option>
							    	<option value="1"><p class="epsilon n1c">新北市</p></option>
							    	<option value=""><p class="epsilon n1c">高雄市</p></option>
							    	<option value=""><p class="epsilon n1c">臺中市</p></option>
							    </select>
							    <div class="label"></div>
							</div>
						</div>
						<div class="tbl-remider tal"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">選擇拍攝地點即會出現在臺灣地圖</p>
						</div>
					</div>
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">選擇CC授權</p></div>
					<div class="tbl-controll">
						<div class="tbl-dropbox-lg fll">
						    <select>
						    	<option value="1"><p class="epsilon n1c">姓名標示－非商業性－相同方式分享</p></option>
						    	<option value="1"><p class="epsilon n1c">姓名標示－非商業性－相同方式分享</p></option>
						    	<option value="1"><p class="epsilon n1c">姓名標示－非商業性－相同方式分享</p></option>
						    	<option value=""><p class="epsilon n1c">姓名標示－非商業性－相同方式分享</p></option>
						    	<option value=""><p class="epsilon n1c">姓名標示－非商業性－相同方式分享</p></option>
						    </select>
						    <div class="label"></div>
						</div>
						<a class="epsilon mff4 tal tdu fll mgl20  mgt5" href="http://creativecommons.tw/explore" target="_blank">什麼是CC授權?</a>
					</div>
				</div>
				<div class="row mgt20 normal-modify-wraper">
					<div class="tbl-lanel"><p class="epsilon n1c tar">拍攝日期</p></div>
					<div class="tbl-controll">
						<div class="tbl-wraper">
							<div class="tbl-dropbox-sm fll">
							    <select>
							    	<option value="1"><p class="epsilon n1c">2014</p></option>
							    	<option value="1"><p class="epsilon n1c">2014</p></option>
							    </select>
							    <div class="label"></div>
							</div>
							<div class="tbl-dropbox-sm fll mgl20">
							    <select>
							    	<option value="1"><p class="epsilon n1c">05</p></option>
							    	<option value="1"><p class="epsilon n1c">05</p></option>
							    </select>
							    <div class="label"></div>
							</div>
							<div class="tbl-dropbox-sm fll mgl20">
							    <select>
							    	<option value="1"><p class="epsilon n1c">22</p></option>
							    	<option value="1"><p class="epsilon n1c">22</p></option>
							    </select>
							    <div class="label"></div>
							</div>
							<div class="leftButtom btn-advancd-modify fll mgl20">進階修改</div>
						</div>
					</div>
				</div>
				<div class="row mgt20 advancd-modify-wraper hidden">
					<div class="tbl-lanel"><p class="epsilon n1c tar">拍攝日期</p></div>
					<div class="tbl-controll">
						<div class="tbl-wraper">
							<div class="tbl-dropbox-sm fll">
							    <select>
							    	<option value="1"><p class="epsilon n1c">2014</p></option>
							    	<option value="1"><p class="epsilon n1c">2014</p></option>
							    </select>
							    <div class="label"></div>
							</div>
							<div class="tbl-period tbl-periodMon fll mgl20"> <p class="epsilon n84">+月份</p></div>
							<div class="tbl-dropbox-sm tbl-addmon fll mgl20 hidden">
							    <select>
							    	<option value="1"><p class="epsilon n1c">05</p></option>
							    	<option value="1"><p class="epsilon n1c">05</p></option>
							    </select>
							    <div class="label"></div>
							</div>
							<div class="tbl-period tbl-periodDate fll mgl20 hidden"> <p class="epsilon n84">+日期</p></div>
							<div class="tbl-dropbox-sm tbl-adddate fll mgl20 hidden">
							    <select>
							    	<option value="1"><p class="epsilon n1c">22</p></option>
							    	<option value="1"><p class="epsilon n1c">22</p></option>
							    </select><div class="label"></div>
							</div>
							<div class="tbl-labelto fll mgl20"> <p class="epsilon n1c">至</p> </div>
						</div>
						<div class="tbl-wraper tbl-dateto">
							<div class="tbl-period tbl-periodYear fll mgl20"> <p class="epsilon n84">+年份</p> </div>
							<div class="tbl-dropbox-sm tbl-addtoyear fll hidden">
							    <select>
							    	<option value="1"><p class="epsilon n1c">2014</p></option>
							    	<option value="1"><p class="epsilon n1c">2014</p></option>
							    </select><div class="label"></div>
							</div>
							<div class="tbl-period tbl-periodMon fll mgl20 hidden"> <p class="epsilon n84">+月份</p> </div>
							<div class="tbl-dropbox-sm tbl-addtomon fll mgl20 hidden">
							    <select>
							    	<option value="1"><p class="epsilon n1c">05</p></option>
							    	<option value="1"><p class="epsilon n1c">05</p></option>
							    </select><div class="label"></div>
							</div>
							<div class="tbl-period tbl-periodDate  fll mgl20 hidden"> <p class="epsilon n84">+日期</p> </div>
							<div class="tbl-dropbox-sm tbl-addtodate fll mgl20 hidden">
							    <select>
							    	<option value="1"><p class="epsilon n1c">22</p></option>
							    	<option value="1"><p class="epsilon n1c">22</p></option>
							    </select><div class="label"></div>
							</div>
						</div>
						<div class="tbl-wraper">
							<div class="leftButtom btn-cancel-modify fll mgt10">取消</div>
						</div>
					</div>
				</div>
				<div class="row mgt20">
					<div class="tbl-lanel"><p class="epsilon n1c tar">公開照片</p></div>
					<div class="tbl-controll">
						<div class="tbl-wraper">
							<div class="onoffswitch fll mgl5">
							    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
							    <label class="onoffswitch-label" for="myonoffswitch">
							        <span class="onoffswitch-inner"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
						</div>
					</div>
				</div>
				<div class="row mgt50">
					<div class="tbl-wraper tac">
						<div class="icon-editMapLocation dib"></div>
						<p class="epsilon n1c dib">標示拍攝地點</p>
					</div>
				</div>
				<div class="row mgt5">
					<div class="tbl-goolemap">
						
					</div>
				</div>
				<div class="row mgt30">
					<div class="tbl-lanel"></div>
					<div class="tbl-controll">
						<div class="leftBottom cancelBottom fll mgl100">取消</div>
						<div class="rightBottom confirmBottom fll mgl70">確認</div>
					</div>
				</div>
				<div class="coverSquare img_nocoversSquare175x175"></div>
			</div>
		</div>
	</div>
</div>
<script src="/cyberisland/javascripts/partials/photoEdit.js"></script>