<div class="pop-signup-guidelines fullscreen">
	<div class="content-a">
		<div class="content-b">
			<div class="sign-guidelines-panel center">
				<div class="row">
					<div class="icon-close12x12 flr mgt10 mgr5 crsrp"></div>	
				</div>
				<div class="row sign-guidelines-content mgt15">
					<div class="row">
						<p class="zeta rff tal lh26">
							歡迎你來到「數位島嶼」(http://cyberisland.teldap.tw/index.php)，目前「數位島嶼」為一開放性網路相簿，但在您註冊成為本網站會員之前，你必須同意遵守以下的使用規定，現在請你仔細閱讀之。
						</p>
					</div>
					<div class="row">
						<p class="zeta rff tac lh26 mgt30">「數位島嶼」使用規定 </p>
					</div>
					<div class="row">
						<p class="zeta rff tal lh26">	一. 本人同意遵守使用規定
						  「數位島嶼」很樂意在你同意遵守使用規定的情況下提供服務，但本網站有權利在你同意遵守本使用規定後更改之。當使用規定有任何修改時，我們必須在本網站首頁(Homepage)公告，或經由電子郵件 (E-MAIL) 通知你。如果你不同意修正內容，請立即停止繼續使用「數位島嶼」所提供之服務，以免發生法律上責任之困擾。你可以通知我們取消你的會員資格。倘若你繼續使用服務，則代表你同意並接受本使用規定的所有修改。
						 </p>
					</div>
					<div class="row">
						<p class="zeta rff tal lh26 mgt30">	
						   二、會員之註冊<br>
						   1.你必須擔保並同意： (a) 在會員註冊表格內填入正確的、完整的、及目前的個人資料。 (b) 你所提供的電子郵件地址(E-MAIL ADDRESS)是你自己目前使用的正確電子郵件地址。若該電子郵件地址有任何變更時，你必須主動通知我們。若你所提供之個人資料有填寫不實，或原所登錄之資料已不正確而遲未更新，否則我們有終止你的會員資格及使用各項服務之權利，若因此造成你的任何損害，「數位島嶼」將不負擔任何責任。<br>
						   2.在會員註冊程序中，你必須選擇一個密碼 (Password) 及使用者代號 (user ID) ，我們建議你謹慎選擇之。一個會員只能擁有一個「數位島嶼」的會員註冊權利，你保證不會在「數位島嶼」做其他的會員註冊。若你忘記你的密碼(Password) 或使用者代號 (user ID) ，必須主動通知我們。

						 </p>
					</div>
					<div class="row">
						<p class="zeta rff tal lh26 mgt30">	
						   三、帳號及密碼之保管義務<br>
		   				   使用者對個人在「數位島嶼」的帳號及密碼有絕對之保管義務，請勿將帳號與密碼洩漏或提供第三人知悉或使用。若你的帳號或密碼遭人非法使用，「數位島嶼」不負任何賠償責任。一旦發現帳號有任何異常或使用安全受破壞之情形時，應立即通知「數位島嶼」；因未即時通知致「數位島嶼」無法有效防止或修復時，你應自行負責所有可能所生之責任。
						 </p>
					</div>
					<div class="row">
						<p class="zeta rff tal lh26 mgt30">	
						   四、「數位島嶼」提供之服務及相關立場之聲明<br>
		    				1.「數位島嶼」目前為一免費的開放性網站，其服務包括但不限於:提供空間，讓網際網路使用者在「數位島嶼」發表及閱讀對於電子產品相關的消息、觀點、意見、建議、價格與交易資訊、測試報告、攝影作品以及利用前述相關資訊與內容經營加值性服務等，「數位島嶼」亦會進行發行電子報、策劃網路或平面媒體之行銷出版、外拍活動規劃等性質 , 但不限於上述描述或性質的新增服務。<br>
		    				2.「數位島嶼」原則上不對其所提供的內容做實質審查或修改。您若認為該網頁內含有不適當的內容，煩請逕向內容提供者反應意見。數位島嶼也不對網友所提供任何可供下載的軟體、內容、資訊或任何本網站上的消息、觀點、意見、建議、價格與交易資訊負任何的責任，除此之外，本網站也不必對會員所發表的任何言論或資訊負責。若「數位島嶼」的服務或資訊，在任何情形下對使用者造成財產的、身體的、心理的、名譽的、法律的、'或其他的損失或傷害，「數位島嶼」及它的負責人、經理人、職員、擁有人、代理人、繼承人或維護人員，均不必負任何責任。<br>
		    				3.「數位島嶼」採用Creative Commons 「姓名標示-相同方式分享」授權條款台灣2.<br>0版，您可以自由重製、散布、展示及演出本著作，惟需遵守下列條件：姓名標示、非商業性、禁止改作。<br>
		    				4.「數位島嶼」不對任何直接或間接連接到本網站的電腦、通訊設備、網路、或任何軟硬體及資料的損害、遺失、及故障負任何的責任。

						 </p>
					</div>
					<div class="row">
						<p class="zeta rff tal lh26 mgt30">	
						   五. 會員行為規範及注意義務<br>
		    			1.因為本網站的文章中可能具有誤導閱讀者的意圖，所以你必須運用你的智慧及謹慎的態度，來閱讀本網站的文章。除此之外，在本網站發表文章的會員也可能以不實的身份，發表不實的訊息，所以使用本網站者務必小心。<br>
		    			2.你在閱讀本網站的任何文章或資訊後，若有任何買賣的、交易的、投資的、金融的或其他的行動，都應當謹慎地運用你獨立的判斷來做決定。若你根據「數位島嶼」上的文章或資訊，進行任何買賣的、交易的、投資的、金融的或其他的行動，你同意你自行負擔任何的風險及損失。<br>
		    			3.「數位島嶼」原則上不審核、不更改會員所發表的文章，但是「數位島嶼」保留監視及刪除任何作品的權利。除此之外，當違反「數位島嶼」之精神，「數位島嶼」具有在無預先通知的情況下，在任何時間、任何情況下單方面終止或暫停你會員資格的權利。<br>
		    			4.你同意在「數位島嶼」發表的任何文章，不能含有以下所述的內容及意圖，你在違反使用規定後，並有主動立刻通知本網站的義務：<br>
		      				‧ 違法、騷擾、毀謗、侮辱、傷害、侵犯隱私、威脅、淫穢、鼓吹 犯罪、影響金融與商業秩序。<br>
		      				‧連結或介紹其他具有違法、騷擾、毀謗、侮辱、傷害、侵犯隱私、 威脅、淫穢、鼓吹犯罪的網站、資料庫、電子佈告欄 (ＢＢＳ) <br>、ＦＴＰ、或任何網路上的節點。
							‧發表未經他人或公司授權或尚未公開的資訊。<br>
							‧發表或傳送第三者經註冊的資訊，或侵犯他人的智慧財產權。<br>
							‧在本網站發表垃圾電子郵件、連鎖信、無意義的或違反「數位島嶼」 宗旨或使用規定的作品。<br>
						   5.當你使用「數位島嶼」時，你必須是在遵守中華民國與國際上的任何法律下進行，若你發表的任何文章或使用「數位島嶼」的任何行為違反了中華民國或國際上的任何法律，你同意「數位島嶼」不必負擔任何的責任。<br>
						   6.以你的密碼 (Password) 或使用者代號 (user ID) <br>在「數位島嶼」發表的每一篇文章、與使用「數位島嶼」的所有行為，你同意「數位島嶼」不必負擔任何的責任。<br>
						   7.假如你發現有第三者使用你的密碼 (Password) 或使用者代號(user ID) ，你應即刻 通知「數位島嶼」。<br>
						 </p>
					</div>
					<div class="row">
						<p class="zeta rff tal lh26 mgt30">	
						  六、智慧財產權<br>
						   1.您擔保您於「數位島嶼」所發表及張貼的任何文章或圖片或任何其他智慧財產權，都必須為你自己所有或取得他人之合法授權，否則，您將自行負擔所有法律責任，並對權利受侵害之第三人及「數位島嶼」所受之任何損害，負起賠償責任。<br>
						   2.您同意您於「數位島嶼」所發表及張貼的任何文章或圖片，即代表係授權「數位島嶼」使用，「數位島嶼」將根據網站規劃及發展模式，選擇利用方式，包括但不限於：自行或與他人合作發行電子報、自行或與他人合作進行平面媒體或網路媒體或其他載體（如光碟）之出版、利用收費機制建立使用者下載之交易模式等。「數位島嶼」亦擁有對你發表的文章做任何處理(包括：修改、刪除、轉貼、保管轉移....等)的權利。<br>
						   3.您並同意「數位島嶼」得基於推廣、行銷、加值之需，再授權第三人使用；第三人所得享有之權，與「數位島嶼」相同，且亦受本使用規範相關智慧財產權條款的限制。<br>
						   4.您對「數位島嶼」之授權，皆採用Creative Commons 「姓名標示-相同方式分享」授權條款台灣2.<br>0版。您可自由重製、散布、展示及演出本著作，惟需遵照下列條件：姓名標示、非商業性、禁止改作。<br>
						   5.「數位島嶼」若舉辦攝影比賽活動，一切權利與義務皆遵照簡章或辦法規定辦理。<br>

						 </p>
					</div>
					<div class="row">
						<p class="zeta rff tal lh26 mgt30">	
						  七、法律責任歸屬及網路犯罪之調查偵辦<br>
						   1.你同意放棄向中華民國或國際上的任何法院，政府，或任何組織提出控告「數位島嶼」及它的負責人、經理人、職員、擁有人、代理人、繼承人或維護人員的權力與義務，此外你也同意放棄向中華民國或國際上的任何法院、政府、或任何組織提出暫停或導致「數位島嶼」無法提供服務的權利與義務。<br>
						   2.假如發生任何法院或政府機構合法程序的調查，你同意「數位島嶼」可以揭露任何你在本網站登記或使用的資訊。<br>
						   3.你同意你在「數位島嶼」的任何使用行為，受到中華民國 (REPUBLIC OF CHINA) <br>法律的管轄，即使你使用「數位島嶼」的當時所在地不是中華民國臺灣省 (REPUBLIC OF CHINA, TAIWAN) 。並以台北地方法院為第一審管轄法院。<br>


						 </p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<link href="/cyberisland/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<script src="/cyberisland/javascripts/plugin/jquery.mCustomScrollbar.js"></script>
<script src="/cyberisland/javascripts/partials/signup_guidelines.js"></script>