<div class="container pop-upload tac mgt100">
	<div class="row">
		<div class="col-3 bgff">
			<div class="btn btn-close">
		  	 	<div><img alt="m" src="/cyberisland/images/taiwanmap/btn_indexClose.png"></div>
		  	</div>
			<div class="editAlbumTbl pdb60">
				<div class="row mgt45 tac">
					 <div class="dib"><p class="epsilon n1c">選擇上傳到</p></div>
					 <div class="dib mgl10">
					 	<div class="tbl-dropbox-xlg">
					 		<select>
					 			<option value="0">點點生活2014</option>
					 			<option value="0">點點生活2014</option>
					 			<option value="0">點點生活2014</option>
					 			<option value="0">點點生活2014</option>
					 		</select>
					 		<div class="label"></div>	
					 	</div>
				     </div>
					 <div class="dib mgl20"><p class="epsilon n1c">或</p></div>
					 <div class="dib mgl20">
					 	<div class="leftBottom createAlbum btn-create"><p class="lh30 tac">新增相簿</p></div>
					 </div>
				</div>
				<div class="row mgt30">
					<div class="tbl-upload-panel center">
						<div class="uploadEmtyBox">
							<div class="icon-uploadEmpty center"></div>
							<p class="drolar m69 mgt15 tac">照片拖放區</p>
						</div>
						<!--<div class="icon-lowerrightTri"></div>-->
						<div class="uploadArea hidden">
							<div class="fileItem">
								<div class="file-pic-wraper">
									<div class="file-pic">
										<img alt="m" src="/cyberisland/images/backend/img_photoEx_150x200.jpg" width="90">
									</div>
									<div class="file-control">
										<div class="icon-btn-small-rotate-d fll mgl5 mgt5"></div>
										<div class="icon-btn-small-del-d flr mgr5 mgt5"></div>
									</div>
									<div class="file-status hidden">
										<div class="icon-uploadOk"></div>
									</div>
								</div>
								<div class="file-name mgt5">
									<p class="file-name-text zeta n69 tal">IMG_2020</p>
									<input class="file-name-box hidden" type="text" value="IMG_2020" name="inputname">
								</div>
								<div class="file-desc mgt5">
									<div class="file-desc-txt"><p class="zeta n69 tal">加上敘述...</p></div>
									<div class="file-desc-box hidden">
										<textarea class="file-textarea">
											加上敘述...
										</textarea>
									</div>
								</div>

							</div>
							<div class="fileItem">
								<div class="file-pic-wraper">
									<div class="file-pic">
										<img alt="m" src="/cyberisland/images/backend/img_photoEx_150x200.jpg" width="90">
									</div>
									<div class="file-control">
										<div class="icon-btn-small-rotate-d fll mgl5 mgt5"></div>
										<div class="icon-btn-small-del-d flr mgr5 mgt5"></div>
									</div>
									<div class="file-status hidden">
										<div class="icon-uploadNg"></div>
									</div>
								</div>
								<div class="file-name mgt5">
									<p class="file-name-text zeta n69 tal">IMG_2020</p>
									<input class="file-name-box hidden" type="text" value="IMG_2020" name="inputname">
								</div>
								<div class="file-desc mgt5">
									<div class="file-desc-txt"><p class="zeta n69 tal">加上敘述...</p></div>
									<div class="file-desc-box hidden">
										<textarea class="file-textarea">
											加上敘述...
										</textarea>
									</div>
								</div>
							</div>
							<div class="fileItem">
								<div class="file-pic-wraper">
									<div class="file-pic">
										<img alt="m" src="/cyberisland/images/backend/img_photoEx_150x200.jpg" width="90">
									</div>
									<div class="file-control">
										<div class="icon-btn-small-rotate-d fll mgl5 mgt5"></div>
										<div class="icon-btn-small-del-d flr mgr5 mgt5"></div>
									</div>
									<div class="file-status hidden">
										<div class="file-progress">
											<p class="qual bff4 tac mgt45">50%</p>
										</div>
									</div>
								</div>
								<div class="file-name mgt5">
									<p class="file-name-text zeta n69 tal">IMG_2020</p>
									<input class="file-name-box hidden" type="text" value="IMG_2020" name="inputname">
								</div>
								<div class="file-desc mgt5">
									<div class="file-desc-txt"><p class="zeta n69 tal">加上敘述...</p></div>
									<div class="file-desc-box hidden">
										<textarea class="file-textarea">
											加上敘述...
										</textarea>
									</div>
								</div>
							</div>
							<div class="fileItem">
								<div class="file-pic-wraper">
									<div class="file-pic">
										<img alt="m" src="/cyberisland/images/backend/img_photoEx_150x200.jpg" width="90">
									</div>
									<div class="file-control hidden">
										<div class="icon-btn-small-rotate-d fll mgl5 mgt5"></div>
										<div class="icon-btn-small-del-d flr mgr5 mgt5"></div>
									</div>
									<div class="file-status hidden">
										<div class="file-progress">
											<p class="qual bff4 tac mgt45">50%</p>
										</div>
									</div>
								</div>
								<div class="file-name mgt5">
									<p class="file-name-text zeta n69 tal">IMG_2020</p>
									<input class="file-name-box hidden" type="text" value="IMG_2020" name="inputname">
								</div>
								<div class="file-desc mgt5">
									<div class="file-desc-txt"><p class="zeta n69 tal">加上敘述...</p></div>
									<div class="file-desc-box hidden">
										<textarea class="file-textarea">
											加上敘述...
										</textarea>
									</div>
								</div>
							</div>
							<div class="fileItem">
								<div class="file-pic-wraper">
									<div class="file-pic">
										<img alt="m" src="/cyberisland/images/backend/img_photoEx_150x200.jpg" width="90">
									</div>
									<div class="file-control">
										<div class="icon-btn-small-rotate-d fll mgl5 mgt5"></div>
										<div class="icon-btn-small-del-d flr mgr5 mgt5"></div>
									</div>
									<div class="file-status hidden">
										<div class="file-progress">
											<p class="qual bff4 tac mgt45">0%</p>
										</div>
									</div>
								</div>
								<div class="file-name mgt5">
									<p class="file-name-text zeta n69 tal">IMG_2020</p>
									<input class="file-name-box hidden" type="text" value="IMG_2020" name="inputname">
								</div>
								<div class="file-desc mgt5">
									<div class="file-desc-txt"><p class="zeta n69 tal">加上敘述...</p></div>
									<div class="file-desc-box hidden">
										<textarea class="file-textarea">
											加上敘述...
										</textarea>
									</div>
								</div>
							</div>
							<div class="fileItem">
								<div class="file-pic-wraper">
									<div class="file-pic">
										<img alt="m" src="/cyberisland/images/backend/img_photoEx_150x200.jpg" width="90">
									</div>
									<div class="file-control">
										<div class="icon-btn-small-rotate-d fll mgl5 mgt5"></div>
										<div class="icon-btn-small-del-d flr mgr5 mgt5"></div>
									</div>
									<div class="file-status hidden">
										<div class="file-progress">
											<p class="qual bff4 tac mgt45">0%</p>
										</div>
									</div>
								</div>
								<div class="file-name mgt5">
									<p class="file-name-text zeta n69 tal">IMG_2020</p>
									<input class="file-name-box hidden" type="text" value="IMG_2020" name="inputname">
								</div>
								<div class="file-desc mgt5">
									<div class="file-desc-txt"><p class="zeta n69 tal">加上敘述...</p></div>
									<div class="file-desc-box hidden">
										<textarea class="file-textarea">
											加上敘述...
										</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mgt10">
					<div class="tbl-controll-up">
						<div class="leftBottom choosefrompc fll btn-files">從電腦選擇</div>
						<div class="hidden"><input type='file' id='file1' name='files[]'></div>
						<div class="tbl-remider tal fll mgl10"> 
							<div class="icon-reminder"></div>
						    <p class="reminder chular nff4">ㄧ次可上傳多張照片，或直接將照片拖拉入上方區域，單張照片上傳尺寸限制為25MB。</p>
						</div>
					</div>
				</div>
				<div class="row mgt60 ">
					<div class="tbl-controll-up forupload tac">
						<div class="btn-cancel leftBottom dib">取消</div>
						<div class="btn-confirm rightBottom dib mgl60">確定上傳</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <script src="/cyberisland/javascripts/modules/uploadPanel.js"></script> -->
<script src="/cyberisland/javascripts/partials/upload.js"></script>