<div class="popup-container pop-pro bgff">
    <div class="btn btn-close">
        <div><img alt="m" src="/cyberisland/images/taiwanmap/btn_indexClose.png"></div>
    </div>
	<div class="editMyinfo icon-editMyinfo"></div>
    <div class="cycle cycle-lg center"><img alt="m" src="/cyberisland/images/example_pics_member_album/avatar.jpg" width="230" height="230"></div>
    <div class="mgt30"><a href="/cyberisland/html/H/H01.html"><p class="qual m93 tac">Totoro( 暱稱 )</p></a></div>
    <div class="mgt5"><p class="epsilon r69 tac">totoro( 會員帳號 )</p></div>
    <div class="mgt40"><p class="epsilon r1clh24">黃世傑1973年出生於臺北。從小就喜愛自然生態，退伍後因工作傷害，右手4隻手指遭截肢，但對於生態的興趣卻不減反增，一直是臺灣原生動、植物的愛好者，同時也戮力從事生態攝影。近年來更造訪馬來西亞、婆羅洲、泰國、菲律賓等地，深入杳無人煙的熱帶雨林，拍攝昆蟲生態及原生蘭花、蕨類之原棲地照片，並為水族、昆蟲雜誌撰寫相關文章。</p></div>
    <div class="mgt45">
        <div><p class="epsilon b1c">作品</p></div>
        <div><p class="epsilon r1c">《長戟大兜蟲》親親文化出版</p></div>
        <div><p class="epsilon r1c">《昆蟲臉書》天下文化出版</p></div>
        <div><p class="epsilon r1c">《霸王甲蟲小百科》人類智庫出版</p></div>
        <div><p class="epsilon r1c">《超震撼甲蟲霸王》人類智庫出版</p></div>
        <div><p class="epsilon r1c">《惠蓀林場100種常見昆蟲解說手冊》中興大學實驗林管理處</p></div>
    </div>
    <div class="mgt45">
        <div><p class="epsilon b1c">網站連結</p></div>
        <div><a href="http://blog/.xuite.net/shijak0526/wretch"><p class="epsilon r1c">http://blog/.xuite.net/shijak0526/wretch</p></a></div>
    </div>
</div>
<script src="/cyberisland/javascripts/partials/userinfo.js"></script>