<section class="block-ui">
  <section class="block-wraper">
    <div class="container-fluid">
        <div class="lightbox">
            <div class="lightbox-header">
                <div class="container">
                   <p class="lightbox-report zeta nff">檢舉這張照片</p>
                   <div class="icons-btn-close lightbox-close"></div>
                   <div class="icons-btn-full lightbox-full"></div>
                </div>
            </div>
            <div class="lightbox-body">
                <div class="container">
                    <div class="lightbox-wraper">
                        <img alt="m" src="/cyberisland/images/example_pics/1.jpg">
                        <div class="report-box hidden">
                            <div class="report-item">
                               <input type="radio" name="value1" id="value1" value="value" class="report-box-radio">
                               <label for="value1"><p class="zeta n69">盜取他人作品</p></label>
                            </div>
                            <div class="report-item">
                               <input type="radio" name="value1" id="value2" value="value" class="report-box-radio">
                               <label for="value2"><p class="zeta n69">暴力或色情內容</p></label>
                            </div>
                            <div class="report-item">
                               <input type="radio" name="value1" id="value3" value="value" class="report-box-radio">
                               <label for="value3"><p class="zeta n69">政治競選宣傳內容</p></label>
                            </div>
                            <div class="report-item">
                               <input type="radio" name="value1" id="value4" value="value" class="report-box-radio">
                               <label for="value4"><p class="zeta n69">包含廣告或商業內容</p></label>
                            </div>
                            <div class="report-item">
                               <input type="radio" name="value1" id="value5" value="value" class="report-box-radio">
                               <label for="value5"><p class="zeta n69">其他<input type="text" maxlenght="20"></p></label>
                            </div>
                            <div class="report-item">
                                <div class="report-box-confirm tac vam"><p class="zeta n69">確定</p></div>
                                <div class="report-box-cancel tac vam"><p class="zeta n69">取消</p></div>
                            </div>
                        </div>

                        <div class="report-response-box hidden">
                            <p class="beta b69 lh30 tac">感謝您的意見<br>我們將儘速處理</p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="lightbox-footer">
                <div class="container">
                    <div class="lightbox-info">
                        <div class="icons-icn-open-up lightbox-open-up"></div>
                        <div class="lightbox-pictitle">
                            <p class="epsilon mff">島嶼風光(盛夏篇) - </p><em class="nff"><a class="epsilon nff" href="/cyberisland/html/H/H01.html">totoro55223</a></em>
                        </div>
                    </div>
                    <div class="lightbox-playlist">
                        <div class="lightbox-btn-left"><div class="icons-btn-arrow-left"></div></div>
                        <div class="lightbox-playbody">
                            <div class="lightbox-watercourse">  
                                 <div class="lightbox-thumb">
                                     <img alt="m" src="/cyberisland/images/example_pics/1.jpg">
                                 </div>
                                 <div class="lightbox-thumb">
                                     <img alt="m" src="/cyberisland/images/example_pics/2.jpg">
                                 </div>
                                 <div class="lightbox-thumb">
                                     <img alt="m" src="/cyberisland/images/example_pics/3.jpg">
                                 </div>
                                 <div class="lightbox-thumb">
                                     <img alt="m" src="/cyberisland/images/example_pics/4.jpg">
                                 </div>
                                 <div class="lightbox-thumb">
                                     <img alt="m" src="/cyberisland/images/example_pics/5.jpg">
                                 </div>
                                 <div class="lightbox-thumb">
                                     <img alt="m" src="/cyberisland/images/example_pics/6.jpg">
                                 </div>
                                 <div class="lightbox-thumb">
                                     <img alt="m" src="/cyberisland/images/example_pics/7.jpg">
                                 </div>
                                 <div class="lightbox-thumb">
                                     <img alt="m" src="/cyberisland/images/example_pics/8.jpg">
                                 </div>
                            </div>
                        </div>
                        <div class="lightbox-btn-right"><div class="icons-btn-arrow-right"></div></div>
                    </div>
                </div>
            </div>
        </div><!-- lightbox -->
    </div><!-- container-fluid -->
    <div class="container wcs dr-desc">
       <div class="row mgt45">
            <div class="col-md">
                <div class="dr-title">
                    <p class="alpha n1clh36">新北市老梅石槽</p>
                </div>
                <div class="dr-like icons-like">
                    <p class="dr-like-number beta m1clh24">269</p>
                </div>
            </div>
            <div class="col-sm">
                  <div class="dr-cc-nc"><div class="icon-cc-nc"></div></div>
                  <div class="dr-cc-by"><div class="icon-cc-by"></div></div>
                  <div class="dr-cc-sa"><div class="icon-cc-sa"></div></div>
                  <div class="dr-uploat-at"><p class="zeta nbe">於2014年3月3日上傳</p></div>
            </div>
       </div>
       <div class="row mgt30">
            <div class="col-md">
                <p class="epsilon n1c">老梅石槽是北臺灣最富盛名的海邊景點之一.四季的變化讓老梅石槽四季都呈現不一樣的風貌.最漂亮的是2-3月間.石槽鋪滿綠色的青苔與強力的海水撲打.有力的海水激盪與柔的青苔浮動.潮起潮落激起的水花.依每個石槽的不同而有不一樣的風味.</p>
                <p class="epsilon n69 mgt60">2014年3月33日～2014年3月35日拍攝於<em class="tdu">新北市石門區</em></p>
            </div>
            <div class="col-sm">
                <div class="dr-exif-info">
                   <div class="icons-icn-exif"></div>
                   <div class="dr-exif-string"><p class="epsilon m81">展開EXIF資訊</p></div>
                </div>
                <div class="dr-exif-content hidden">
                    <p class="zeta n69 lh18">相機： D900</p>
                    <p class="zeta n69 lh18">曝光: 0 sec ()</p>
                    <p class="zeta n69 lh18">Aperture: f/0</p>
                    <p class="zeta n69 lh18">焦距: 0 mm ()</p>
                    <p class="zeta n69 lh18">ISO 速度:</p>
                    <p class="zeta n69 lh18">曝光偏向 : EV</p>
                    <p class="zeta n69 lh18">閃光:</p>
                    <p class="zeta n69 lh18">X-Resolution: 0 dpi</p>
                    <p class="zeta n69 lh18">Y-Resolution: 0 dpi</p>
                    <p class="zeta n69 lh18">Software:</p>
                    <p class="zeta n69 lh18">Date and Time:</p>
                    <p class="zeta n69 lh18">YCbCr Positioning:</p>
                    <p class="zeta n69 lh18">Date and Time (Original): 2014-12-31 00:00:00</p>
                    <p class="zeta n69 lh18">Date and Time (Digitized):</p>
                    <p class="zeta n69 lh18">Compressed Bits per Pixel: 0 bits</p>
                    <p class="zeta n69 lh18">Shutter Speed:</p>
                    <p class="zeta n69 lh18">Color Space:</p>
                    <p class="zeta n69 lh18">Focal Plane X-Resolution: dpi</p>
                    <p class="zeta n69 lh18">Focal Plane Y-Resolution: dpi</p>
                    <p class="zeta n69 lh18">Compression:</p>
                    <p class="zeta n69 lh18">Image Width: pixels</p>
                    <p class="zeta n69 lh18">Image Height: pixels</p>
                </div>
            </div>
       </div>
       <div class="row mgt20">
          <div class="col-lg">
              <div class="dr-goole-map"></div>
          </div>
       </div>
    </div>
  </section>
</section>